Repository mickgian/PratikoAi-BE: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-alembic-migrations, check-critical-dependencies, streaming-tests, rss-scheduler-tests, generate-docs-index, update-roadmap-timeline

Path conditions:
  check-alembic-migrations: any of: ^(alembic/versions/.*\.py|app/models/.*\.py)$
  check-critical-dependencies: any of: ^pyproject.toml$
  streaming-tests: any of: app/(core|api)/.*sse.*\.py|tests/.*sse.*\.py
  rss-scheduler-tests: any of: app/.*(scheduler|rss).*\.py|tests/.*scheduler.*\.py
  generate-docs-index: any of: \.md$
  update-roadmap-timeline: any of: ^ARCHITECTURE_ROADMAP\.md$

feat(DEV-151): Create YAML Template Loader Service
  DOCUMENTATION_INDEX.md
  app/services/action_template_service.py
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  docs/tasks/PRATIKO_1.5.md
  tests/services/test_action_template_service.py
Due: generate-docs-index

feat(DEV-152): Create Action Templates YAML Files
  app/core/templates/suggested_actions/default.yaml
  app/core/templates/suggested_actions/documents.yaml
  app/core/templates/suggested_actions/labor.yaml
  app/core/templates/suggested_actions/legal.yaml
  app/core/templates/suggested_actions/tax.yaml
  docs/tasks/PRATIKO_1.5.md
  tests/templates/test_action_templates.py
Due: generate-docs-index

feat(DEV-154): Extend AtomicFactsExtractor for Parameter Coverage
  app/services/atomic_facts_extractor.py
  docs/tasks/PRATIKO_1.5.md
  tests/services/test_atomic_facts_parameter_coverage.py
Due: generate-docs-index

feat(DEV-155): Create ProactivityEngine Service
  DOCUMENTATION_INDEX.md
  app/schemas/proactivity.py
  app/services/proactivity_engine.py
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  docs/tasks/PRATIKO_1.5.md
  tests/services/test_proactivity_engine.py
Due: generate-docs-index

feat(DEV-156): Create Analytics Tracking Model and Service
  DOCUMENTATION_INDEX.md
  alembic/env.py
  alembic/versions/20251220_add_proactivity_analytics_tables.py
  app/models/proactivity_analytics.py
  app/services/proactivity_analytics_service.py
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  docs/tasks/PRATIKO_1.5.md
  tests/models/test_proactivity_analytics.py
  tests/services/test_proactivity_analytics_service.py
Due: check-alembic-migrations, generate-docs-index

feat(DEV-157): Extend ChatResponse Schema with Actions/Questions
  app/schemas/chat.py
  docs/tasks/PRATIKO_1.5.md
  tests/schemas/test_chat.py
Due: generate-docs-index

feat(DEV-158): Modify /chat Endpoint to Include Suggested Actions
  DOCUMENTATION_INDEX.md
  app/api/v1/chatbot.py
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  docs/tasks/PRATIKO_1.5.md
  tests/api/test_chatbot_proactivity.py
Due: generate-docs-index

fix: Resolve mypy errors in top 3 files with most type issues
  app/core/langgraph/graph.py
  app/services/ccnl_service.py
  app/services/italian_tax_calculator.py
Due: none

feat(DEV-159): Modify /chat/stream Endpoint for Proactivity Actions
  app/api/v1/chatbot.py
  app/schemas/chat.py
  app/services/ccnl_search_service.py
  tests/api/test_chatbot_streaming_proactivity.py
Due: none

chore: optimize mypy configuration to reduce noise
  pyproject.toml
Due: check-critical-dependencies

feat(DEV-160): Create /actions/execute Endpoint
  app/api/v1/chatbot.py
  app/schemas/proactivity.py
  app/services/action_template_service.py
  docs/tasks/PRATIKO_1.5.md
  tests/api/test_chatbot_actions.py
Due: generate-docs-index

feat(DEV-161): Create /questions/answer Endpoint
  app/api/v1/chatbot.py
  app/schemas/proactivity.py
  docs/tasks/PRATIKO_1.5.md
  tests/api/test_chatbot_questions.py
Due: generate-docs-index

feat(DEV-162): Add Analytics Tracking to Action/Question Endpoints
  DOCUMENTATION_INDEX.md
  app/api/v1/chatbot.py
  app/models/database.py
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  docs/tasks/PRATIKO_1.5.md
  tests/api/test_chatbot_analytics.py
Due: check-alembic-migrations, generate-docs-index

docs(DEV-163): Move task to completed tasks section
  DOCUMENTATION_INDEX.md
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  docs/tasks/PRATIKO_1.5.md
Due: generate-docs-index

feat(DEV-164): Add InteractiveQuestionInline to completed tasks + fix mypy
  DOCUMENTATION_INDEX.md
  app/services/ingestion_report_service.py
  app/services/italian_subscription_service.py
  app/services/quality_metrics_dashboard.py
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  docs/tasks/PRATIKO_1.5.md
Due: generate-docs-index

docs: Clean up PRATIKO_1.5.md - remove duplicate DEV-165/DEV-166 definitions
  DOCUMENTATION_INDEX.md
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  docs/tasks/PRATIKO_1.5.md
Due: generate-docs-index

docs: Mark DEV-165 as completed in PRATIKO_1.5.md
  docs/tasks/PRATIKO_1.5.md
Due: generate-docs-index

docs(DEV-166): Mark DEV-166 as completed in PRATIKO_1.5.md
  DOCUMENTATION_INDEX.md
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  docs/tasks/PRATIKO_1.5.md
Due: generate-docs-index

fix(mypy): Add type: ignore directives to top 3 error files
  app/services/data_export_service.py
  app/services/data_sources/employer_sources.py
  app/services/data_sources/union_sources.py
Due: none

docs(DEV-167): Mark DEV-167 as completed in PRATIKO_1.5.md
  docs/tasks/PRATIKO_1.5.md
Due: generate-docs-index

docs: Move DEV-167 and DEV-168 to completed tasks section
  docs/tasks/PRATIKO_1.5.md
Due: generate-docs-index

docs: Move DEV-169 to completed tasks section
  docs/tasks/PRATIKO_1.5.md
Due: generate-docs-index

docs: Move DEV-170 to completed tasks section
  docs/tasks/PRATIKO_1.5.md
Due: generate-docs-index

docs: Move DEV-171 to completed tasks section
  docs/tasks/PRATIKO_1.5.md
Due: generate-docs-index

docs: Move DEV-172 to completed tasks section
  docs/tasks/PRATIKO_1.5.md
Due: generate-docs-index

docs(DEV-173): Add ADRs for proactivity features
  docs/architecture/decisions/ADR-020-suggested-actions-architecture.md
  docs/architecture/decisions/ADR-021-interactive-questions-architecture.md
  docs/tasks/PRATIKO_1.5.md
Due: generate-docs-index

fix(proactivity): Fix pre/post-response proactivity and RAG fallback
  app/api/v1/chatbot.py
  app/core/langgraph/graph.py
  app/orchestrators/prompting.py
  app/schemas/chat.py
  app/schemas/proactivity.py
  app/services/proactivity_engine.py
  tests/services/test_proactivity_engine.py
Due: none

docs: Update task tracking and agent configuration
  .claude/agents/architect.md
  docs/tasks/PRATIKO_1.5.md
  docs/tasks/PRATIKO_1.5_REFERENCE.md
Due: generate-docs-index

fix(tests): Update schema tests for multi_field question support
  tests/api/test_chatbot_questions.py
  tests/schemas/test_proactivity.py
Due: none

docs(Phase6): Add Golden Set/KB compatibility requirements to Phase 6 tasks
  DOCUMENTATION_INDEX.md
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  docs/tasks/PRATIKO_1.5.md
Due: generate-docs-index

docs(Phase6): Add Type (Backend) designation to all Phase 6 task headers
  docs/tasks/PRATIKO_1.5.md
Due: generate-docs-index

feat(DEV-174): Add CALCULABLE_INTENTS and DOCUMENT_ACTION_TEMPLATES constants
  app/core/proactivity_constants.py
  docs/tasks/PRATIKO_1.5.md
  tests/core/test_proactivity_constants.py
Due: generate-docs-index

feat(Phase7): Add LLM Model Selection Strategy and 16 Agentic RAG tasks
  DOCUMENTATION_INDEX.md
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  docs/tasks/PRATIKO_1.5.md
  docs/tasks/PRATIKO_1.5_REFERENCE.md
Due: generate-docs-index

feat(DEV-175): Add suggested actions prompt for LLM-First proactivity
  app/core/prompts/__init__.py
  app/core/prompts/suggested_actions.md
  docs/tasks/PRATIKO_1.5.md
  tests/core/prompts/__init__.py
  tests/core/prompts/test_suggested_actions_prompt.py
Due: generate-docs-index

feat(DEV-176): Implement parse_llm_response function
  app/services/llm_response_parser.py
  docs/tasks/PRATIKO_1.5.md
  tests/services/conftest.py
  tests/services/test_llm_response_parser.py
Due: generate-docs-index

docs: Add comprehensive architectural analysis document
  PRATIKOAI_ANALISI_ARCHITETTURALE_COMPLETA.txt
Due: none

docs: Replace investor section with operational benefits for professionals
  PRATIKOAI_ANALISI_ARCHITETTURALE_COMPLETA.txt
Due: none

feat(DEV-177): Implement simplified ProactivityEngine for LLM-First architecture
  DOCUMENTATION_INDEX.md
  app/services/proactivity_engine_simplified.py
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  docs/tasks/PRATIKO_1.5.md
  tests/services/test_proactivity_engine_simplified.py
Due: generate-docs-index

docs: Remove contacts line from architectural document footer
  PRATIKOAI_ANALISI_ARCHITETTURALE_COMPLETA.txt
Due: none

docs: Update infrastructure section to reflect Hetzner + Docker stack
  PRATIKOAI_ANALISI_ARCHITETTURALE_COMPLETA.txt
Due: none
