Repository mickgian/PratikoAi-BE: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-alembic-migrations, check-critical-dependencies, streaming-tests, rss-scheduler-tests, generate-docs-index, update-roadmap-timeline

check-alembic-migrations:
  name: Check Alembic migrations are up-to-date
  entry: bash -c 'alembic check || (echo WARNING - Database migrations pending && exit 1)'
  language: system
  pass_filenames: false
  always_run: false

check-critical-dependencies:
  name: Check critical dependencies in pyproject.toml
  entry: python scripts/check_critical_deps.py
  language: system
  pass_filenames: false
  always_run: false

streaming-tests:
  name: Run streaming protection tests
  entry: bash -c 'source scripts/set_env.sh development && python -m pytest tests/core/test_sse_formatter.py tests/api/test_sse_comment_detection.py tests/api/test_sse_keepalive_timing.py tests/unit/core/test_sse_write_helper.py -v --tb=line -x'
  language: system
  ...

rss-scheduler-tests:
  name: Run RSS scheduler tests
  entry: bash -c 'source scripts/set_env.sh development && python -m pytest tests/test_scheduler_italian_integration.py -v --tb=line -x'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

generate-docs-index:
  name: Generate documentation indexes
  entry: python scripts/generate_docs_index.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

update-roadmap-timeline:
  name: Update roadmap deployment timeline estimates
  entry: python scripts/update_roadmap_timeline.py --notify
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix: remove double bullets in procedure steps checklist
  web/src/app/chat/components/ProcedureSelectorDialog.tsx
Due: none

fix: resolve /consigli command showing blank dialog
  app/services/consigli_service.py
  tests/services/test_consigli_service.py
  web/src/app/chat/components/ConsigliDialog.tsx
  web/src/app/chat/components/__tests__/ConsigliDialog.test.tsx
Due: none

fix: restore manual bullet and suppress CSS ::before pseudo-element
  web/src/app/chat/components/ProcedureSelectorDialog.tsx
Due: none

fix: resolve MissingGreenlet crash in RSS feed collection
  app/services/scheduler_service.py
  tests/services/test_scheduler_service.py
Due: rss-scheduler-tests

fix: update feed_status.last_checked on every ingestion attempt
  app/services/scheduler_service.py
  scripts/ingest_rss.py
  scripts/run_full_ingestion.py
  tests/services/test_feed_last_checked.py
  tests/services/test_scheduler_service.py
Due: rss-scheduler-tests

fix: resolve MissingGreenlet in ingestion scripts and duplicate row crash
  app/core/document_ingestion.py
  scripts/ingest_rss.py
  scripts/run_full_ingestion.py
  tests/services/test_feed_last_checked.py
Due: none

fix: use CAST(:emb AS vector) for asyncpg-safe pgvector updates
  alembic/versions/82f78bbaa62c_add_embedding_to_costcategory_enum.py
  app/services/scheduler_service.py
  scripts/repair_data_quality.py
  tests/services/test_embedding_backfill_task.py
Due: check-alembic-migrations, rss-scheduler-tests

fix: update migration down_revision to resolve multiple heads
  alembic/versions/82f78bbaa62c_add_embedding_to_costcategory_enum.py
Due: check-alembic-migrations

feat: auto-detect Excel/CSV column mappings for client import
  app/api/v1/clients.py
  app/schemas/client.py
  app/services/client_import_service.py
  tests/api/v1/test_clients_import.py
  tests/services/test_auto_detect_columns.py
  web/src/app/database-clienti/components/ClientImportMappingStep.tsx
  web/src/app/database-clienti/components/ClientImportView.tsx
  web/src/app/database-clienti/types/index.ts
  web/src/lib/api/clients.ts
Due: none

fix: include missing migrations from develop to resolve alembic chain
  alembic/versions/20260301_add_custom_email_allowed.py
  alembic/versions/20260301_auth_improvements_p0_p3.py
  alembic/versions/82f78bbaa62c_add_embedding_to_costcategory_enum.py
Due: check-alembic-migrations

feat: extend client import to create ClientProfile for matching normativo
  app/api/v1/clients.py
  app/schemas/client.py
  app/services/client_import_service.py
  tests/services/test_import_profile_creation.py
  web/src/app/database-clienti/components/ClientImportView.tsx
  web/src/app/database-clienti/data/constants.ts
  web/src/lib/api/clients.ts
Due: none

fix: add follow_redirects and User-Agent to RSS fetcher, increase scraping timeouts to 360s
  app/ingest/rss_normativa.py
  app/services/ccnl_rss_monitor.py
  app/services/data_sources/cassazione_source.py
  app/services/data_sources/cnel_source.py
  app/services/data_sources/employer_sources.py
  app/services/data_sources/government_sources.py
  app/services/data_sources/sector_associations.py
  app/services/data_sources/union_sources.py
  app/services/rss_feed_monitor.py
  app/services/scrapers/ader_scraper.py
  app/services/scrapers/cassazione_scraper.py
  app/services/scrapers/gazzetta_scraper.py
Due: rss-scheduler-tests

feat: per-client profile overrides in import wizard
  app/api/v1/clients.py
  app/services/client_import_service.py
  tests/api/v1/test_clients_import.py
  tests/services/test_import_profile_creation.py
  web/src/app/database-clienti/components/ClientImportProfileStep.tsx
  web/src/app/database-clienti/components/ClientImportView.tsx
  web/src/app/database-clienti/types/index.ts
  web/src/lib/api/clients.ts
Due: none

feat: add source health diagnostics to ingestion email report
  app/ingest/rss_normativa.py
  app/services/ingestion_report_service.py
  scripts/run_full_ingestion.py
Due: rss-scheduler-tests

fix: update scraper tests to match 360s timeout default
  tests/services/scrapers/test_cassazione_scraper.py
  tests/services/scrapers/test_gazzetta_scraper.py
Due: none

fix: use ProfileOverrides type in importClients to fix TS2345 error
  web/src/lib/api/clients.ts
Due: none

fix: use sentinel value for Radix Select "none" option
  web/src/app/database-clienti/components/ClientImportMappingStep.tsx
Due: none

Path conditions:
  check-alembic-migrations: any of: ^(alembic/versions/.*\.py|app/models/.*\.py)$
  check-critical-dependencies: any of: ^pyproject.toml$
  streaming-tests: any of: app/(core|api)/.*sse.*\.py|tests/.*sse.*\.py
  rss-scheduler-tests: any of: app/.*(scheduler|rss).*\.py|tests/.*scheduler.*\.py
  generate-docs-index: any of: \.md$
  update-roadmap-timeline: any of: ^ARCHITECTURE_ROADMAP\.md$
