Repository mickgian/PratikoAi-BE: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-alembic-migrations, check-critical-dependencies, streaming-tests, rss-scheduler-tests, generate-docs-index, update-roadmap-timeline

check-alembic-migrations:
  name: Check Alembic migrations are up-to-date
  entry: bash -c 'alembic check || (echo WARNING - Database migrations pending && exit 1)'
  language: system
  pass_filenames: false
  always_run: false

check-critical-dependencies:
  name: Check critical dependencies in pyproject.toml
  entry: python scripts/check_critical_deps.py
  language: system
  pass_filenames: false
  always_run: false

streaming-tests:
  name: Run streaming protection tests
  entry: bash -c 'source scripts/set_env.sh development && python -m pytest tests/core/test_sse_formatter.py tests/api/test_sse_comment_detection.py tests/api/test_sse_keepalive_timing.py tests/unit/core/test_sse_write_helper.py -v --tb=line -x'
  language: system
  ...

rss-scheduler-tests:
  name: Run RSS scheduler tests
  entry: bash -c 'source scripts/set_env.sh development && python -m pytest tests/test_scheduler_italian_integration.py -v --tb=line -x'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

generate-docs-index:
  name: Generate documentation indexes
  entry: python scripts/generate_docs_index.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

update-roadmap-timeline:
  name: Update roadmap deployment timeline estimates
  entry: python scripts/update_roadmap_timeline.py --notify
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix: Add second type parameter to AsyncGenerator for Python 3.11 compatibility
  app/core/langgraph/graph.py
  app/core/llm/base.py
  app/core/llm/providers/anthropic_provider.py
  app/core/llm/providers/openai_provider.py
  app/core/streaming_guard.py
  app/orchestrators/platform.py
  tests/e2e/conftest.py
Due: none

ci: Use GitHub secret for OPENAI_API_KEY in E2E tests
  .github/workflows/tests.yml
Due: none

fix: Change asyncio_default_fixture_loop_scope to session
  pyproject.toml
Due: check-critical-dependencies

fix: Add explicit session-scoped event_loop fixture
  tests/conftest.py
Due: none

fix: Handle event loop closure in E2E test fixture cleanup
  tests/e2e/conftest.py
Due: none

fix: Restore AsyncGenerator second type argument for Python 3.11
  tests/e2e/conftest.py
Due: none

fix: Create test user before expert profile to fix FK constraint in CI
  tests/e2e/conftest.py
Due: none

fix: Skip E2E+LLM tests in CI, add pre-push hook for RSS regressions
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  tests/e2e/feeds/base_feed_test.py
Due: none

fix: Create fresh engine in db_session fixture to avoid event loop issues
  tests/conftest.py
Due: none

fix: Skip ALL e2e tests in CI (not just e2e+llm)
  .github/workflows/tests.yml
Due: none

skip: Temporarily skip TestDatabaseService - needs AsyncMock for async methods
  tests/services/test_database.py
Due: none

skip: Mark flaky SSE streaming test - LLM cold start exceeds 10s in CI
  tests/api/test_chatbot_streaming_real.py
Due: none

test(DEV-005): Add backend verification tests for RSS source citations
  tests/e2e/feeds/test_source_citations_e2e.py
Due: none

chore: Update roadmap (DEV-BE-69 completed) and business-analyst agent config
  .claude/agents/business-analyst.md
  docs/tasks/ARCHITECTURE_ROADMAP.md
Due: generate-docs-index

feat(DEV-BE-70): Add daily ingestion report with time-of-day scheduling
  .env.example
  DOCUMENTATION_INDEX.md
  app/core/config.py
  app/services/ingestion_report_service.py
  app/services/scheduler_service.py
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  docs/operations/DAILY_REPORTS.md
  docs/tasks/ARCHITECTURE_ROADMAP.md
  tests/services/test_ingestion_report_service.py
Due: rss-scheduler-tests, generate-docs-index

refactor: Remove PREPROD environment from codebase
  .claude/agents/architect.md
  .claude/agents/devops.md
  .claude/agents/security-audit.md
  .env.example
  .env.preprod.example
  .gitignore
  .secrets.baseline
  DOCUMENTATION_INDEX.md
  app/api/v1/metrics.py
  app/core/config.py
  app/core/logging.py
  app/observability/rag_trace.py
  app/orchestrators/metrics.py
  app/services/ingestion_report_service.py
  app/services/scheduler_service.py
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/RAG_FLOW_IMPLEMENTATION_03_verification_testing.md
  docs/architecture/decisions.md
  docs/architecture/steps/INDEX.md
  docs/architecture/vector-search.md
  docs/database/DATABASE_ENVIRONMENT_STRATEGY.md
  docs/deployment/DEPLOYMENT_EXPERT_FEEDBACK_SCHEMA.md
  docs/deployment/DEPLOYMENT_PLATFORM_ANALYSIS.md
  docs/deployment/SANDBOXING_IMPLEMENTATION_PLAN.md
  docs/operations/DAILY_REPORTS.md
  docs/pinecone-guardrails.md
  docs/project/sprint-plan.md
  docs/project/subagent-assignments.md
  docs/setup/SLACK_INTEGRATION.md
  docs/tasks/ARCHITECTURE_ROADMAP.md
  docs/tasks/SANDBOXING_ROADMAP.md
  scripts/roadmap_email_notifier.py
  scripts/update_roadmap_timeline.py
  tests/core/test_config.py
  tests/services/test_ingestion_report_service.py
Due: rss-scheduler-tests, generate-docs-index

fix(DEV-007): Improve document analysis response quality
  app/core/prompts/__init__.py
  app/core/prompts/document_analysis.md
  app/core/prompts/document_analysis_override.md
  app/orchestrators/prompting.py
  tests/orchestrators/test_prompting.py
Due: generate-docs-index

chore: Update agent configs, schemas, and documentation
  .claude/agents/architect.md
  .claude/agents/backend-expert.md
  .claude/agents/business-analyst.md
  .claude/agents/database-designer.md
  .claude/agents/debug-specialist.md
  .claude/agents/frontend-expert.md
  .claude/agents/performance-optimizer.md
  .claude/agents/security-audit.md
  .claude/agents/test-generation.md
  DOCUMENTATION_INDEX.md
  app/core/langgraph/graph.py
  app/schemas/__init__.py
  app/schemas/chat.py
  app/services/ingestion_report_service.py
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/PROMPT_ENGINEERING_KNOWLEDGE_BASE.md
  docs/architecture/steps/INDEX.md
Due: generate-docs-index

added PRATIKO 2.0 files
  docs/architecture/decisions/ADR-017-multi-tenancy-architecture.md
  docs/architecture/decisions/ADR-018-normative-matching-engine.md
  docs/architecture/decisions/ADR-019-communication-generation.md
  docs/tasks/PRATIKO_2.0.md
  docs/tasks/PRATIKO_2.0_REFERENCE.md
Due: generate-docs-index

test(DEV-007): Add regression tests for multi-attachment checkpoint fixes
  tests/langgraph/test_attachment_checkpoint_persistence.py
  tests/langgraph/test_step_046_replace_msg.py
Due: none

fix(DEV-007): Fix message duplication on page refresh (P0.8-P0.12)
  app/core/langgraph/graph.py
  app/core/langgraph/types.py
  tests/langgraph/test_attachment_checkpoint_persistence.py
Due: none

test(DEV-007): Add P0.12 regression tests for message duplication fix
  tests/langgraph/test_attachment_checkpoint_persistence.py
Due: none

fix(ci): Rename langgraph test directory to avoid namespace collision
  tests/core/__init__.py
  tests/core/langgraph_tests/__init__.py
  tests/core/langgraph_tests/nodes/__init__.py
  tests/core/langgraph_tests/nodes/test_step_064_deanonymization.py
Due: none

fix(ci): Fix POSTGRES_URL format and increase test timeout
  .env.example
  .github/workflows/tests.yml
Due: none

fix(ci): Skip slow streaming integration tests in CI
  tests/api/test_chatbot_streaming_integration.py
Due: none

fix(ci): Skip more slow tests requiring full app/DB in CI
  .github/workflows/tests.yml
  tests/api/test_expert_credential_enum_bug.py
  tests/api/test_expert_feedback_corretta.py
  tests/api/test_expert_feedback_enum_validation.py
Due: none

ci: Add CI skips to TestClient-based tests to prevent timeout
  tests/api/test_chat_session_isolation.py
  tests/api/test_chatbot_streaming_real.py
  tests/api/test_expert_feedback.py
  tests/integration/test_chat_attachments_integration.py
Due: none

test: Fix CI test failures
  tests/models/test_base.py
  tests/models/test_document.py
  tests/models/test_document_simple.py
  tests/services/test_document_processing_service.py
  tests/test_rag_step_31_classify_domain.py
  tests/test_rag_step_82_document_ingest_tool.py
Due: none

fix: Fix skipif condition syntax in test_document_processing_service
  tests/services/test_document_processing_service.py
Due: none

chore: Update agent configs and ingestion report service
  .claude/agents/architect.md
  .claude/agents/backend-expert.md
  .claude/agents/database-designer.md
  .claude/agents/debug-specialist.md
  .claude/agents/frontend-expert.md
  .claude/agents/test-generation.md
  app/services/ingestion_report_service.py
  docs/tasks/PRATIKO_2.0.md
  tests/services/test_ingestion_report_service.py
Due: generate-docs-index

feat(DEV-BE-93): Implement unified input security hardening
  DOCUMENTATION_INDEX.md
  app/core/logging.py
  app/schemas/chat.py
  app/schemas/expert_feedback.py
  app/services/data_export_service.py
  app/services/task_generator_service.py
  app/utils/security/__init__.py
  app/utils/security/markdown_escaper.py
  app/utils/security/prompt_guard.py
  app/utils/security/validators.py
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  docs/tasks/ARCHITECTURE_ROADMAP.md
  docs/tasks/PRATIKO_1.5.md
  docs/tasks/PRATIKO_1.5_REFERENCE.md
  docs/tasks/PRATIKO_2.0.md
  docs/tasks/PRATIKO_2.0_REFERENCE.md
  tests/services/test_task_generator_service.py
  tests/utils/security/__init__.py
  tests/utils/security/test_markdown_escaper.py
  tests/utils/security/test_prompt_guard.py
  tests/utils/security/test_validators.py
Due: generate-docs-index

chore: Remove hardcoded DATABASE_URL from agent docs
  .claude/agents/backend-expert.md
  .claude/agents/database-designer.md
  DOCUMENTATION_INDEX.md
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
Due: generate-docs-index

chore: Update agent configs and documentation indexes
  .claude/agents/architect.md
  .claude/agents/business-analyst.md
  .claude/agents/debug-specialist.md
  .claude/agents/frontend-expert.md
  .claude/agents/performance-optimizer.md
  .claude/agents/security-audit.md
  .claude/agents/test-generation.md
  DOCUMENTATION_INDEX.md
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
Due: generate-docs-index

feat(DEV-BE-78): Implement retrieval ranking optimization Phase 1
  DOCUMENTATION_INDEX.md
  app/core/config.py
  app/services/knowledge_search_service.py
  app/services/query_classifier.py
  app/services/ranking_utils.py
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  docs/tasks/ARCHITECTURE_ROADMAP.md
  scripts/backfill_text_quality.py
  scripts/benchmark_ranking_precision.py
  tests/retrieval/__init__.py
  tests/retrieval/test_ranking_optimization.py
  tests/services/test_query_classifier.py
  tests/test_knowledge_search_service.py
Due: generate-docs-index

fix(DEV-BE-78): Add quality_weight and source_weight to test config
  tests/test_rag_step_26_kb_context_check.py
Due: none

feat(DEV-153): Create interactive question templates YAML
  .claude/rss-domains.json
  .python-version
  app/core/templates/interactive_questions/calculations.yaml
  app/core/templates/interactive_questions/documents.yaml
  app/core/templates/interactive_questions/procedures.yaml
  scripts/validate_question_templates.py
  uv.lock
Due: none

docs: Update ARCHITECTURE_ROADMAP.md with DEV-BE-78 completion
  DOCUMENTATION_INDEX.md
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  docs/tasks/ARCHITECTURE_ROADMAP.md
Due: generate-docs-index

feat(DEV-150): Create Pydantic V2 models for proactivity features
  app/schemas/proactivity.py
  tests/schemas/test_proactivity.py
Due: none

Path conditions:
  check-alembic-migrations: any of: ^(alembic/versions/.*\.py|app/models/.*\.py)$
  check-critical-dependencies: any of: ^pyproject.toml$
  streaming-tests: any of: app/(core|api)/.*sse.*\.py|tests/.*sse.*\.py
  rss-scheduler-tests: any of: app/.*(scheduler|rss).*\.py|tests/.*scheduler.*\.py
  generate-docs-index: any of: \.md$
  update-roadmap-timeline: any of: ^ARCHITECTURE_ROADMAP\.md$
