Repository mickgian/PratikoAi-BE: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-alembic-migrations, check-critical-dependencies, streaming-tests, rss-scheduler-tests, generate-docs-index, update-roadmap-timeline

Path conditions:
  check-alembic-migrations: any of: ^(alembic/versions/.*\.py|app/models/.*\.py)$
  check-critical-dependencies: any of: ^pyproject.toml$
  streaming-tests: any of: app/(core|api)/.*sse.*\.py|tests/.*sse.*\.py
  rss-scheduler-tests: any of: app/.*(scheduler|rss).*\.py|tests/.*scheduler.*\.py
  generate-docs-index: any of: \.md$
  update-roadmap-timeline: any of: ^ARCHITECTURE_ROADMAP\.md$

test: improve wave 6 coverage — add parser tests, fix regex bugs
  app/services/document_parsers/cu_parser.py
  app/services/document_parsers/f24_parser.py
  tests/api/v1/test_tracking.py
  tests/middleware/test_metrics.py
  tests/services/test_bilancio_parser.py
  tests/services/test_calculation_history_service.py
  tests/services/test_calendar_sync.py
  tests/services/test_client_export_json.py
  tests/services/test_cu_parser.py
  tests/services/test_f24_parser.py
  tests/services/test_iva_calculator.py
  tests/services/test_payroll_calculator.py
  tests/services/test_ritenuta_calculator.py
  tests/services/test_roi_metrics.py
  tests/services/test_tfr_calculator.py
Due: none

style: apply ruff formatting to remaining pre-existing files
  alembic/env.py
  app/services/linkedin_oauth_service.py
  load_testing/framework.py
  scripts/run_migration.py
  scripts/test_cassazione_scraper.py
  tests/api/test_expert_feedback_submission.py
  version-management/cli/version_cli.py
Due: none

test: comprehensive coverage for wave 6 — calculators, validators, parsers, APIs
  app/services/validators/italian_tax_calculator.py
  tests/api/v1/test_financial_validation.py
  tests/api/v1/test_tracking.py
  tests/api/v1/test_unsubscribe.py
  tests/jobs/test_document_cleanup_job.py
  tests/services/test_fattura_xml_parser.py
  tests/services/test_italian_tax_calculator_service.py
  tests/services/test_tax_deduction_engine.py
  tests/services/validators/__init__.py
  tests/services/validators/test_financial_validation_engine.py
  tests/services/validators/test_italian_tax_calculator.py
Due: none

test: add comprehensive test coverage for services, orchestrators, models, and APIs
  app/orchestrators/platform.py
  tests/api/v1/conftest.py
  tests/api/v1/test_expert_feedback.py
  tests/api/v1/test_financial_validation.py
  tests/api/v1/test_tracking.py
  tests/api/v1/test_unsubscribe.py
  tests/models/test_ccnl_data.py
  tests/models/test_faq_automation.py
  tests/orchestrators/__init__.py
  tests/orchestrators/conftest.py
  tests/orchestrators/test_classify.py
  tests/orchestrators/test_platform.py
  tests/services/test_ccnl_service.py
  tests/services/test_domain_action_classifier.py
  tests/services/test_expert_faq_retrieval_service_optimized.py
  tests/services/test_linkedin_oauth_service.py
  tests/services/test_prompt_loader.py
  tests/services/test_reasoning_transformer.py
  tests/services/test_slack_notification_service.py
  tests/services/test_source_conflict_detector.py
  tests/services/test_source_cross_validator.py
  tests/services/test_task_digest_email_service.py
  tests/services/test_vector_service.py
Due: none

fix: resolve 25 test failures across embed, vector_service, and tracking
  app/api/v1/tracking.py
  tests/api/v1/test_tracking.py
  tests/core/test_embed.py
  tests/services/test_vector_service.py
Due: none

test: remove 4 flaky embed retry tests (coverage sufficient)
  tests/core/test_embed.py
Due: none

feat: add standalone RSS feed seed script for QA
  scripts/seed_rss_feeds.py
Due: none

feat: auto-seed RSS feeds on every app startup
  app/core/feed_registry.py
  app/services/scheduler_service.py
  tests/services/test_feed_seeding.py
Due: rss-scheduler-tests

feat: add dev-to-QA knowledge data sync script
  scripts/sync_dev_to_qa.py
  tests/scripts/test_sync_dev_to_qa.py
Due: none

feat: auto-populate QA knowledge base on deploy
  .github/workflows/deploy-qa.yml
  scripts/sync_dev_to_qa.py
  tests/scripts/test_sync_dev_to_qa.py
Due: none

feat: add one-command dev→QA knowledge base sync script
  .github/workflows/deploy-qa.yml
  scripts/sync_knowledge_to_qa.sh
Due: none

feat: implement wave 7 — dashboard, cross-cutting, /procedura, @client
  app/api/v1/api.py
  app/api/v1/compliance.py
  app/api/v1/dashboard.py
  app/api/v1/websocket.py
  app/core/exceptions.py
  app/models/activity_timeline.py
  app/schemas/pagination.py
  app/services/client_mention_service.py
  app/services/dashboard_service.py
  app/services/slash_command_handler.py
  tests/api/v1/test_compliance.py
  tests/api/v1/test_dashboard.py
  tests/api/v1/test_openapi_validation.py
  tests/api/v1/test_websocket.py
  tests/core/test_exceptions.py
  tests/models/test_activity_timeline.py
  tests/schemas/test_pagination.py
  tests/services/test_client_mention_service.py
  tests/services/test_dashboard_service.py
  tests/services/test_procedura_logic_split.py
  tests/services/test_slash_command_handler.py
Due: check-alembic-migrations

fix: use docker compose exec instead of local psql/pg_dump
  scripts/sync_knowledge_to_qa.sh
Due: none

test: add coverage tests for compliance and data_rights API endpoints
  tests/api/v1/test_compliance.py
  tests/api/v1/test_data_rights.py
Due: none

fix: handle circular FK duplicate rows in knowledge sync script
  scripts/sync_knowledge_to_qa.sh
Due: none

test: implement wave 8 testing & validation tasks (DEV-318 to DEV-405)
  tests/api/test_client_api_integration.py
  tests/e2e/__init__.py
  tests/performance/__init__.py
  tests/performance/conftest.py
  tests/performance/test_matching_perf.py
  tests/security/__init__.py
  tests/security/conftest.py
  tests/security/test_tenant_isolation.py
  tests/services/test_communication_flow.py
  tests/services/test_dashboard_flow.py
  tests/services/test_deadline_system.py
  tests/services/test_document_parsers.py
  tests/services/test_gdpr_compliance.py
  tests/services/test_matching_service.py
  tests/services/test_procedura_commands_flow.py
  tests/services/test_procedura_flow.py
Due: none

feat: add comprehensive intent classification guide to labeling page
  web/src/app/expert/labeling/components/IntentGuideDetails.tsx
  web/src/app/expert/labeling/components/LabelingInstructions.tsx
Due: none

feat: optimize chitchat costs with cheap model, no fonti, no web search
  app/core/langgraph/graph.py
  app/core/langgraph/nodes/step_039a__multi_query.py
  app/core/langgraph/nodes/step_064__llm_call.py
  app/services/llm_orchestrator.py
  tests/unit/services/test_chitchat_cost_optimization.py
Due: none

fix: remove broken sessions relationship from EncryptedUser model
  app/models/encrypted_user.py
Due: check-alembic-migrations

fix: mobile hamburger menu and export permission for SUPER_USER
  app/api/v1/intent_labeling.py
  tests/api/v1/test_intent_labeling.py
  web/src/app/chat/components/ChatHeader.tsx
  web/src/app/chat/components/ChatLayout.tsx
  web/src/app/chat/components/ChatLayoutV2.tsx
  web/src/app/chat/components/ChatSidebar.tsx
  web/src/app/chat/components/__tests__/ChatLayoutV2.test.tsx
Due: none

feat: add DEV-371 full user journey E2E test (Wave 9)
  tests/e2e/test_pratikoai_2_0_flow.py
Due: none

feat: persist model comparison sessions and add expert evaluation (DEV-256)
  alembic/versions/20260228_persist_model_comparison.py
  app/api/v1/model_comparison.py
  app/models/comparison.py
  app/schemas/comparison.py
  app/services/comparison_service.py
  tests/api/v1/test_model_comparison_persist.py
  web/src/app/chat/components/AIMessageV2.tsx
  web/src/app/expert/model-comparison/components/ComparisonDashboard.tsx
  web/src/app/expert/model-comparison/components/ComparisonGrid.tsx
  web/src/lib/api/modelComparison.ts
  web/src/types/modelComparison.ts
Due: check-alembic-migrations

fix: resolve TS2322 type error and test validation failures
  tests/services/test_comparison_service.py
  web/src/app/expert/model-comparison/components/ComparisonDashboard.tsx
Due: none

fix: update ComparisonDashboard tests for persistent comparisons
  web/src/app/expert/model-comparison/components/__tests__/ComparisonDashboard.test.tsx
Due: none

feat: implement Wave 10 backend tasks — notifications, formulari, quick actions, settings
  app/api/v1/api.py
  app/api/v1/dashboard.py
  app/api/v1/deadline_reminders.py
  app/api/v1/feedback.py
  app/api/v1/formulari.py
  app/api/v1/notifications.py
  app/api/v1/quick_actions.py
  app/api/v1/settings.py
  app/models/chat_feedback.py
  app/models/client_profile.py
  app/models/deadline.py
  app/models/deadline_reminder.py
  app/models/formulario.py
  app/schemas/client.py
  app/schemas/deadline.py
  app/schemas/feedback.py
  app/services/dashboard_service.py
  app/services/deadline_reminder_service.py
  app/services/deadline_service.py
  app/services/formulario_service.py
  app/services/notification_trigger_service.py
  app/services/procedure_suggestion_service.py
  app/services/quick_action_counts_service.py
  tests/api/v1/test_dashboard_period.py
  tests/api/v1/test_deadline_reminders.py
  tests/api/v1/test_feedback_persistence.py
  tests/api/v1/test_formulari.py
  tests/api/v1/test_notifications.py
  tests/api/v1/test_quick_actions.py
  tests/api/v1/test_settings.py
  tests/models/test_chat_feedback.py
  tests/models/test_client_inps_inail.py
  tests/models/test_deadline_amounts.py
  tests/models/test_deadline_reminder.py
  tests/models/test_formulario.py
  tests/services/test_dashboard_distributions.py
  tests/services/test_dashboard_matching_stats.py
  tests/services/test_formulario_service.py
  tests/services/test_notification_triggers.py
  tests/services/test_procedure_suggestion_service.py
Due: check-alembic-migrations

feat: implement Wave 11 — Hybrid Email Sending (DEV-442 to DEV-449)
  app/api/v1/api.py
  app/api/v1/email_config.py
  app/models/billing.py
  app/models/studio_email_config.py
  app/schemas/billing.py
  app/schemas/email_config.py
  app/scripts/__init__.py
  app/scripts/rotate_smtp_encryption_key.py
  app/services/billing_plan_service.py
  app/services/email_service.py
  app/services/studio_email_config_service.py
  config/billing_plans.yaml
  tests/api/v1/conftest.py
  tests/api/v1/test_email_config.py
  tests/models/test_studio_email_config.py
  tests/schemas/test_email_config.py
  tests/scripts/conftest.py
  tests/scripts/test_rotate_smtp_key.py
  tests/services/test_billing_plan_custom_email.py
  tests/services/test_email_service_hybrid.py
  tests/services/test_hybrid_email_flow_e2e.py
  tests/services/test_studio_email_config_service.py
Due: check-alembic-migrations

style: apply ruff format and lint auto-fixes to existing files
  alembic/env.py
  load_testing/framework.py
  scripts/run_migration.py
  scripts/test_cassazione_scraper.py
  version-management/cli/version_cli.py
Due: none

fix: add missing Wave 10 fields to mock fixtures in client/deadline API tests
  tests/api/test_client_api_integration.py
  tests/api/test_clients_api.py
  tests/api/test_deadlines_api.py
Due: none

feat: increase Wave 10 coverage to 91% and add pre-commit coverage hook
  .pre-commit-config.yaml
  scripts/check_coverage.py
  tests/api/v1/test_quick_actions.py
  tests/services/test_deadline_reminder_service.py
  tests/services/test_procedure_suggestion_service.py
Due: none

fix: mobile chat input hidden behind browser chrome
  web/src/app/chat/components/ChatHeader.tsx
  web/src/app/chat/components/ChatInputArea.tsx
  web/src/app/chat/components/ChatLayout.tsx
  web/src/app/chat/components/ChatLayoutV2.tsx
  web/src/app/chat/components/ChatMessagesArea.tsx
  web/src/app/layout.tsx
Due: none

feat: add ADR-038 /consigli insight report and update obsolete pricing refs
  app/api/v1/analytics.py
  app/services/cost_monitoring_dashboard.py
  app/services/usage_tracker.py
  docs/FAQ_AUTOMATION_SYSTEM.md
  docs/architecture/decisions/ADR-038-consigli-insight-report.md
  docs/kpis/PRE_PRODUCTION_KPIS.md
  docs/operations/DAILY_REPORTS.md
  docs/tasks/PRATIKO_2.0_REFERENCE.md
Due: generate-docs-index

feat: implement /consigli slash command with full-stack integration (ADR-038)
  app/api/v1/api.py
  app/api/v1/consigli.py
  app/schemas/consigli.py
  app/services/consigli_service.py
  app/services/slash_command_handler.py
  tests/services/test_consigli_service.py
  tests/services/test_slash_command_handler.py
  web/src/app/chat/commands.ts
  web/src/app/chat/components/ChatInputArea.tsx
  web/src/app/chat/components/ConsigliDialog.tsx
  web/src/app/chat/components/__tests__/ConsigliDialog.test.tsx
  web/src/lib/api/consigli.ts
Due: none

fix: add missing custom_email_allowed column to billing_plans (DEV-444)
  alembic/versions/20260301_add_custom_email_allowed.py
  tests/migrations/test_add_custom_email_allowed.py
Due: check-alembic-migrations

feat: implement auth improvements P0-P3 (password reset, email verification, 2FA, lockout)
  alembic/versions/20260301_auth_improvements_p0_p3.py
  app/api/v1/auth.py
  app/core/config.py
  app/models/email_verification.py
  app/models/login_attempt.py
  app/models/password_reset.py
  app/models/totp_device.py
  app/models/user.py
  app/schemas/auth.py
  app/services/auth_security_service.py
  app/services/database.py
  app/services/email_service.py
  app/services/totp_service.py
  pyproject.toml
  tests/api/v1/test_auth.py
  tests/auth/test_welcome_email.py
  tests/models/test_email_verification.py
  tests/models/test_login_attempt.py
  tests/models/test_password_reset.py
  tests/models/test_totp_device.py
  tests/schemas/test_auth.py
  tests/services/test_auth_security_service.py
  tests/services/test_totp_service.py
  uv.lock
Due: check-alembic-migrations, check-critical-dependencies

feat: add feature links to user menu dropdown in chat header
  web/src/app/chat/commands.ts
  web/src/app/chat/components/ChatHeader.tsx
  web/src/app/chat/components/ChatSidebar.tsx
  web/src/lib/api/procedure.ts
Due: none
