Repository mickgian/PratikoAi-BE: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-alembic-migrations, check-critical-dependencies, streaming-tests, rss-scheduler-tests, generate-docs-index, update-roadmap-timeline

Path conditions:
  check-alembic-migrations: any of: ^(alembic/versions/.*\.py|app/models/.*\.py)$
  check-critical-dependencies: any of: ^pyproject.toml$
  streaming-tests: any of: app/(core|api)/.*sse.*\.py|tests/.*sse.*\.py
  rss-scheduler-tests: any of: app/.*(scheduler|rss).*\.py|tests/.*scheduler.*\.py
  generate-docs-index: any of: \.md$
  update-roadmap-timeline: any of: ^ARCHITECTURE_ROADMAP\.md$

refactor: address @egidio architecture review feedback
  alembic/versions/20260301_auth_improvements_p0_p3.py
  app/api/v1/auth.py
  app/core/config.py
  app/models/password_reset.py
  app/models/totp_device.py
  app/services/database.py
  app/services/totp_service.py
  tests/api/v1/test_auth.py
  tests/models/test_password_reset.py
  tests/models/test_totp_device.py
  tests/services/test_totp_service.py
Due: check-alembic-migrations

fix: address Egidio review findings and achieve 100% test coverage (ADR-038)
  app/api/v1/consigli.py
  app/services/consigli_service.py
  tests/api/v1/test_consigli.py
  tests/services/test_consigli_service.py
Due: none

fix: resolve alembic multiple heads after merge with develop
  alembic/versions/20260301_auth_improvements_p0_p3.py
Due: check-alembic-migrations

fix: DQ_MISSING_EMBEDDINGS alert only counts active items
  app/services/data_quality_audit_service.py
  tests/services/test_data_quality_audit_service.py
Due: none

fix: add missing AsyncMock for create_email_verification in QA role tests
  tests/auth/test_qa_role_assignment.py
Due: none

fix: update frontend tests for /consigli as first alphabetical command
  web/src/app/chat/components/__tests__/ChatInput.test.tsx
  web/src/app/chat/components/__tests__/SlashCommandMenu.test.tsx
Due: none

test: add route handler tests for consigli endpoint to reach 70% new-file coverage
  tests/api/v1/test_consigli.py
Due: none

fix: show all unevaluated comparisons on model comparison page
  app/api/v1/model_comparison.py
  app/schemas/comparison.py
  app/services/comparison_service.py
  tests/api/v1/test_model_comparison_unevaluated.py
  web/src/app/expert/model-comparison/components/ComparisonDashboard.tsx
  web/src/app/expert/model-comparison/components/__tests__/ComparisonDashboard.test.tsx
  web/src/lib/api/modelComparison.ts
  web/src/types/modelComparison.ts
Due: none

fix: bypass slowapi decorator in QA role assignment tests
  tests/auth/test_qa_role_assignment.py
Due: none

feat: add post-import notifications and real data import flow
  app/api/v1/clients.py
  app/models/notification.py
  app/schemas/client.py
  app/services/client_import_service.py
  app/services/notification_trigger_service.py
  app/services/profile_completeness_service.py
  tests/api/v1/test_clients_import.py
  tests/services/test_client_import_service.py
  tests/services/test_profile_completeness_service.py
  web/src/app/database-clienti/components/ClientDetailView.tsx
  web/src/app/database-clienti/components/ClientImportMappingStep.tsx
  web/src/app/database-clienti/components/ClientImportPreviewStep.tsx
  web/src/app/database-clienti/components/ClientImportView.tsx
  web/src/app/database-clienti/components/ClientListTable.tsx
  web/src/app/database-clienti/data/constants.ts
  web/src/app/database-clienti/types/index.ts
  web/src/lib/api/clients.ts
Due: check-alembic-migrations

fix: add missing fetchUserProfile mock to AuthContext tests
  web/src/contexts/__tests__/AuthContext.test.tsx
  web/src/hooks/__tests__/useAuth.test.tsx
Due: none

fix: generate embeddings inline during tiered ingestion
  app/services/tiered_ingestion_service.py
  tests/unit/conftest.py
  tests/unit/services/test_tiered_ingestion_embeddings.py
Due: none

docs: update embedding analysis with BGE-M3 recommendation and API alternatives
  docs/HUGGINGFACE_MODELS_ANALYSIS.md
Due: generate-docs-index

test: add tests for new API clients and hooks to meet coverage thresholds
  web/src/lib/api/__tests__/clients.test.ts
  web/src/lib/api/__tests__/communications.test.ts
  web/src/lib/api/__tests__/dashboard.test.ts
  web/src/lib/api/__tests__/helpers.test.ts
  web/src/lib/api/__tests__/matching.test.ts
  web/src/lib/api/__tests__/transformers.test.ts
  web/src/lib/hooks/__tests__/useClients.test.tsx
  web/src/lib/hooks/__tests__/useCommunications.test.tsx
  web/src/lib/hooks/__tests__/useDashboard.test.tsx
  web/src/lib/hooks/__tests__/useMatching.test.tsx
  web/src/lib/hooks/__tests__/useProcedure.test.tsx
Due: none

fix: widen period type in useDashboard test to fix TS2322
  web/src/lib/hooks/__tests__/useDashboard.test.tsx
Due: none

feat: track text-embedding-3-small costs in daily cost email report
  app/core/config.py
  app/core/embed.py
  app/models/usage.py
  app/services/daily_cost_report_service.py
  app/services/usage_tracker.py
  config/llm_models.yaml
  tests/services/test_consolidated_report_service.py
  tests/services/test_daily_cost_report_service.py
  tests/services/test_embedding_cost_tracking.py
Due: check-alembic-migrations

fix: add EMBEDDING to CostCategory enum members test
  tests/models/test_usage.py
Due: none

fix: remove list-disc/list-inside classes causing duplicate bullet points
  web/src/app/expert/labeling/components/LabelingInstructions.tsx
  web/src/app/expert/model-comparison/components/ComparisonDashboard.tsx
  web/src/app/expert/model-comparison/components/Leaderboard.tsx
Due: none

fix: sort STRUMENTI menu items alphabetically
  web/src/app/chat/components/ChatHeader.tsx
Due: none

feat: include embedding backfill results in daily ingestion report email
  app/services/ingestion_report_service.py
  app/services/scheduler_service.py
  tests/services/test_embedding_backfill_task.py
  tests/services/test_ingestion_report_service.py
Due: rss-scheduler-tests

docs: rewrite RAG hybrid diagram to reflect current unified graph
  docs/architecture/diagrams/pratikoai_rag_hybrid.mmd
Due: none

docs: version RAG diagrams and add new v2 hybrid diagram
  docs/architecture/diagrams/pratikoai_rag_hybrid_v1.mmd
  docs/architecture/diagrams/pratikoai_rag_hybrid_v2.mmd
  docs/architecture/diagrams/pratikoai_rag_v1.mmd
Due: none

perf: implement S1-S4 pipeline optimizations for response speed
  app/core/embed.py
  app/core/langgraph/graph.py
  app/core/langgraph/nodes/step_031_032__classify_and_score.py
  app/core/langgraph/nodes/step_035_038__llm_fallback_resolve.py
  app/core/langgraph/nodes/step_039ab__parallel_expansion.py
  app/core/langgraph/nodes/step_039c__parallel_retrieval.py
  app/services/parallel_retrieval.py
  docs/optimization/RESPONSE_PERFORMANCE_OPTIMIZATION.md
  tests/core/langgraph/nodes/test_step_031_032__classify_and_score.py
  tests/core/langgraph/nodes/test_step_035_038__llm_fallback_resolve.py
  tests/core/langgraph/nodes/test_step_039ab__parallel_expansion.py
  tests/core/test_embed_cache.py
  tests/services/test_parallel_retrieval_sessions.py
Due: generate-docs-index

fix: backfill crash loses fix/fail counts and shows misleading status
  app/services/ingestion_report_service.py
  app/services/scheduler_service.py
  tests/services/test_embedding_backfill_task.py
  tests/services/test_ingestion_report_service.py
Due: rss-scheduler-tests

fix: auto-delete oldest session when 5-session limit reached
  app/api/v1/auth.py
  tests/api/v1/test_auth.py
Due: none

docs: reject Unified Query Analyzer proposal with detailed analysis
  docs/optimization/RESPONSE_PERFORMANCE_OPTIMIZATION.md
Due: generate-docs-index

feat: implement guardrail streaming for real-time LLM response with safety filtering
  app/services/guardrail_stream_processor.py
  app/services/llm_orchestrator.py
  docs/optimization/RESPONSE_PERFORMANCE_OPTIMIZATION.md
  tests/services/test_guardrail_stream_processor.py
  tests/services/test_llm_orchestrator_streaming.py
Due: generate-docs-index

feat: integrate guardrail streaming end-to-end from step_064 through graph.py
  app/core/langgraph/graph.py
  app/core/langgraph/nodes/step_064__llm_call.py
  tests/core/langgraph/nodes/test_step_064__llm_call.py
Due: none

fix: add stream_llm_pending to RAGState so LangGraph preserves it through ainvoke
  app/core/langgraph/nodes/step_064__llm_call.py
  app/core/langgraph/types.py
  tests/core/langgraph/nodes/test_step_064__llm_call.py
Due: none

fix: streaming formatting flash, disclaimer gaps, and response truncation
  app/services/disclaimer_filter.py
  app/services/guardrail_stream_processor.py
  app/services/llm_orchestrator.py
  tests/services/test_disclaimer_filter.py
  tests/services/test_guardrail_stream_processor.py
Due: none

fix: close disclaimer filter gaps and remove hardcoded professional referrals
  app/schemas/reasoning.py
  app/services/disclaimer_filter.py
  app/services/reasoning_transformer.py
  app/services/risk_analyzer.py
  tests/services/test_disclaimer_filter.py
Due: none

fix: preserve markdown paragraph breaks in streaming response assembly
  app/services/guardrail_stream_processor.py
  tests/services/test_guardrail_stream_processor.py
Due: none

fix: garbled text after disclaimer removal and 'professionista abilitato' leak
  app/services/disclaimer_filter.py
  app/services/guardrail_stream_processor.py
  tests/services/test_disclaimer_filter.py
  tests/services/test_guardrail_stream_processor.py
Due: none

fix: silence noisy console errors from expert feedback auth check
  web/src/hooks/useExpertStatus.ts
  web/src/lib/api/expertFeedback.ts
Due: none

fix: enable guardrail streaming for ToT responses and fix methodology leak
  app/core/langgraph/nodes/step_064__llm_call.py
  app/prompts/v1/tree_of_thoughts.md
  app/prompts/v1/tree_of_thoughts_multi_domain.md
  app/services/disclaimer_filter.py
  docs/architecture/decisions/ADR-039-guardrail-streaming.md
  tests/services/test_disclaimer_filter.py
  tests/unit/core/langgraph/nodes/test_step64_tot_integration.py
Due: generate-docs-index

fix: implement sticky scroll pattern for chat streaming UX
  web/src/app/chat/components/ChatMessagesArea.tsx
  web/src/app/chat/hooks/__tests__/useSmartScroll.test.ts
  web/src/app/chat/hooks/useSmartScroll.ts
Due: none

fix: plug 'consultare un legale' and ToT structural leaks in disclaimer filter
  app/prompts/v1/tree_of_thoughts.md
  app/prompts/v1/tree_of_thoughts_multi_domain.md
  app/services/disclaimer_filter.py
  tests/services/test_disclaimer_filter.py
Due: generate-docs-index

fix: rename scroll indicator to 'Risposta in corso' and catch 'consulenza legale' disclaimers
  app/services/disclaimer_filter.py
  tests/services/test_disclaimer_filter.py
  web/src/app/chat/components/ChatMessagesArea.tsx
Due: none

fix: resolve 4 CI test failures across frontend and backend
  tests/core/langgraph/nodes/test_step_064__llm_call.py
  tests/unit/services/test_reasoning_transformer.py
  tests/unit/services/test_risk_analyzer.py
  web/src/lib/api/expertFeedback.ts
Due: none
