Repository mickgian/PratikoAi-BE: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-critical-dependencies, generate-docs-index

check-critical-dependencies:
  name: Check critical dependencies in pyproject.toml
  entry: python scripts/check_critical_deps.py
  language: system
  pass_filenames: false
  always_run: false

generate-docs-index:
  name: Generate documentation indexes
  entry: python scripts/generate_docs_index.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

test: relax buffered streaming timing threshold for CI variance
  tests/langgraph/test_buffered_streaming_timing.py
Due: none

ci: allow coverage reports even when tests fail
  .github/workflows/tests.yml
Due: none

ci: ensure coverage tests always run regardless of critical test results
  .github/workflows/tests.yml
Due: none

ci: add required permissions for coverage comment action
  .github/workflows/tests.yml
Due: none

ci: remove failing coverage comment task
  .github/workflows/tests.yml
Due: none

CI pipeline should now pass successfully: - ✅ Single migration head - ✅ Clean linear migration chain - ✅ alembic upgrade head will work - ✅ GitHub Actions database migration task will succeed
  alembic/versions/20251111_add_publication_date.py
Due: none

other changes
  ARCHITECTURE_ROADMAP.md
  DOCUMENTATION_INDEX.md
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  tests/api/test_sse_formatter.py
  tests/integration/orchestrators/test_step_39_40_integration.py
  tests/integration/rag/test_risoluzione_56_query.py
Due: generate-docs-index

other changes
  ARCHITECTURE_ROADMAP.md
  DOCUMENTATION_INDEX.md
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  tests/integration/orchestrators/test_step_39_40_integration.py
Due: generate-docs-index

other changes
  ARCHITECTURE_ROADMAP.md
  scripts/roadmap_email_notifier.py
  scripts/update_roadmap_timeline.py
Due: generate-docs-index

other changes
  ARCHITECTURE_ROADMAP.md
  DOCUMENTATION_INDEX.md
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  scripts/update_roadmap_timeline.py
Due: generate-docs-index

chore: update secrets baseline to whitelist test fixtures
  .secrets.baseline
Due: none

fix(ci): fix Pinecone initialization failure in load tests
  .github/workflows/load_test.yml
Due: none

fix(ci): add LANGFUSE env vars and fix empty Pinecone vars syntax
  .github/workflows/load_test.yml
Due: none

fix(api): migrate @validator to @field_validator for Pydantic V2
  app/api/v1/italian.py
Due: none

DEV-BE-67: Sprint 0 - Multi-Agent System Setup
  .claude/locks/branch-locks.template.json
  .claude/subagent-names.json
  .claude/subagents/architect.md
  .claude/subagents/backend-expert.md
  .claude/subagents/database-designer.md
  .claude/subagents/devops.md
  .claude/subagents/frontend-expert.md
  .claude/subagents/performance-optimizer.md
  .claude/subagents/scrum-master.md
  .claude/subagents/security-audit.md
  .claude/subagents/test-generation.md
  .env.example
  .gitignore
  ARCHITECTURE_ROADMAP.md
  README.md
  app/core/config.py
  app/services/slack_notification_service.py
  docs/architecture/decisions.md
  docs/project/sprint-plan.md
  docs/project/subagent-assignments.md
  docs/setup/SLACK_INTEGRATION.md
  scripts/__init__.py
  scripts/test_slack_notifications.py
Due: generate-docs-index

Update DEV-BE-67 actual effort: 1 day (completed 2025-11-17)
  ARCHITECTURE_ROADMAP.md
Due: generate-docs-index

Apply pre-commit auto-fixes
  .claude/locks/branch-locks.template.json
  .claude/subagent-names.json
  .claude/subagents/backend-expert.md
  .claude/subagents/database-designer.md
  .claude/subagents/frontend-expert.md
  .claude/subagents/performance-optimizer.md
  .claude/subagents/test-generation.md
  DOCUMENTATION_INDEX.md
  app/services/slack_notification_service.py
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
Due: generate-docs-index

DEV-BE-71: Disable emoji in LLM responses + Git workflow governance
  .claude/workflows/git-workflow.md
  .claude/workflows/permissions.md
  DOCUMENTATION_INDEX.md
  app/core/prompts/system.md
  app/services/auto_faq_generator.py
  app/services/domain_prompt_templates.py
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
Due: generate-docs-index

SPRINT1: Remove broken tests, add tax_constants tests, fix Slack mobile formatting
  .claude/workflows/permissions.md
  app/services/slack_notification_service.py
  tests/core/test_tax_constants.py
  tests/integration/test_italian_tax_scenarios.py
  tests/integration/test_performance_monitoring.py
  tests/integration/test_pratikoai_integration.py
  tests/langgraph/phase3_parity/test_node_wrapper_delegation.py
  tests/phase9_lane_integration/test_lane_phase6.py
  tests/phase9_parity/test_parity_phase6_privacy.py
  tests/scripts/test_rag_audit_roles.py
  tests/test_annual_subscriptions.py
  tests/test_business_plan_generator.py
  tests/test_business_valuation.py
  tests/test_data_export.py
  tests/test_database_encryption.py
  tests/test_document_parser.py
  tests/test_document_processing.py
  tests/test_faq_automation.py
  tests/test_financial_ratios.py
  tests/test_gdpr_data_deletion.py
  tests/test_intelligent_faq_system.py
  tests/test_labor_calculator.py
  tests/test_vector_fallback_behavior.py
Due: generate-docs-index

DEV-BE-92: Add test coverage ticket to roadmap
  ARCHITECTURE_ROADMAP.md
Due: generate-docs-index

DEV-BE-92: Add 400+ comprehensive tests to reach 49.7% coverage
  tests/core/test_chunking.py
  tests/core/test_config.py
  tests/core/test_hash_gate.py
  tests/core/test_limiter.py
  tests/core/test_sse_formatter.py
  tests/models/test_base.py
  tests/models/test_document.py
  tests/models/test_knowledge.py
  tests/models/test_session.py
  tests/models/test_thread.py
  tests/models/test_user.py
  tests/schemas/test_chat.py
  tests/utils/__init__.py
  tests/utils/test_auth.py
  tests/utils/test_graph.py
  tests/utils/test_sanitization.py
Due: none

DEV-BE-92: Add 32 service tests for vector_config and query_normalizer
  tests/services/__init__.py
  tests/services/test_query_normalizer.py
  tests/services/test_vector_config.py
Due: none

DEV-BE-92: Add 53 service tests + fix LLMResponse metadata bug
  app/services/anthropic_provider.py
  app/services/openai_provider.py
  tests/services/test_anthropic_provider.py
  tests/services/test_email_service.py
  tests/services/test_google_oauth_service.py
  tests/services/test_openai_provider.py
Due: none

DEV-BE-92: Add Phase 3 service tests (59 tests)
  tests/services/test_database.py
  tests/services/test_linkedin_oauth_service.py
  tests/services/test_vector_provider_factory.py
Due: none

DEV-BE-92: Add Phase 4 service tests (70 tests)
  tests/services/test_i18n_service.py
  tests/services/test_scheduler_service.py
Due: none

DEV-BE-92: Phase 5 - Add 27 tests for query models + fixes
  app/models/query.py
  tests/api/test_sse_formatter.py
  tests/models/test_query.py
Due: none

DEV-BE-92: Phase 6 - Add 24 tests for usage tracking models
  tests/models/test_usage.py
Due: none

DEV-BE-92: Phase 7 - Add 25 tests for payment models
  tests/models/test_payment.py
Due: none

DEV-BE-92: Phase 8 - Add 19 tests for query normalization models
  tests/models/test_query_normalization.py
Due: none

DEV-BE-92: Phase 9 - Add 15 tests for knowledge chunk models
  tests/models/test_knowledge_chunk.py
Due: none

DEV-BE-92: Phase 10 - Add 16 tests for database utility functions
  tests/models/test_database.py
Due: none

DEV-BE-92: Phase 11 - Add 25 tests for CCNL update models
  tests/models/test_ccnl_update_models.py
Due: none

DEV-BE-92: Add FAQ model tests + fix timedelta import bug
  app/models/faq.py
  tests/models/test_faq.py
Due: none

DEV-BE-92: Add Cassazione (Supreme Court) model tests
  tests/models/test_cassazione.py
Due: none

DEV-BE-92: Add document_simple model tests
  tests/models/test_document_simple.py
Due: none

DEV-BE-92: Lower coverage threshold to 49% to unblock development
  .pre-commit-config.yaml
  pyproject.toml
Due: check-critical-dependencies

Fix pre-commit hook: Update SSE formatter test path
  .pre-commit-config.yaml
Due: none

Rename subagents directory and finalize Italian names
  .claude/agents/architect.md
  .claude/agents/backend-expert.md
  .claude/agents/database-designer.md
  .claude/agents/debug-specialist.md
  .claude/agents/devops.md
  .claude/agents/frontend-expert.md
  .claude/agents/performance-optimizer.md
  .claude/agents/scrum-master.md
  .claude/agents/security-audit.md
  .claude/agents/test-generation.md
  docs/project/subagent-assignments.md
  tests/services/test_vector_provider_factory.py
Due: generate-docs-index

DEV-FE-002: Update citation format to remove emojis for Figma compliance
  DOCUMENTATION_INDEX.md
  app/core/prompts/system.md
  app/services/context_builder_merge.py
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
Due: generate-docs-index

Path conditions:
  check-critical-dependencies: any of: ^pyproject.toml$
  generate-docs-index: any of: \.md$
