Repository mickgian/PratikoAi-BE: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-alembic-migrations, check-critical-dependencies, streaming-tests, rss-scheduler-tests, generate-docs-index, update-roadmap-timeline

Path conditions:
  check-alembic-migrations: any of: ^(alembic/versions/.*\.py|app/models/.*\.py)$
  check-critical-dependencies: any of: ^pyproject.toml$
  streaming-tests: any of: app/(core|api)/.*sse.*\.py|tests/.*sse.*\.py
  rss-scheduler-tests: any of: app/.*(scheduler|rss).*\.py|tests/.*scheduler.*\.py
  generate-docs-index: any of: \.md$
  update-roadmap-timeline: any of: ^ARCHITECTURE_ROADMAP\.md$

docs: add Wave 10 (Figma Gap Coverage) to PRATIKO_2.0_TASKS.md
  docs/tasks/PRATIKO_2.0_TASKS.md
Due: generate-docs-index

docs: add ADR-034 hybrid email sending + Phase 14 tasks (DEV-442 to DEV-449)
  docs/architecture/decisions/ADR-034-hybrid-email-sending-configuration.md
  docs/tasks/PRATIKO_2.0.md
  docs/tasks/PRATIKO_2.0_REFERENCE.md
  docs/tasks/PRATIKO_2.0_TASKS.md
Due: generate-docs-index

docs: add WhatsApp modal confirmation UX decision to DEV-334 and related tasks
  docs/architecture/decisions/ADR-034-hybrid-email-sending-configuration.md
  docs/tasks/PRATIKO_2.0.md
  docs/tasks/PRATIKO_2.0_REFERENCE.md
  docs/tasks/PRATIKO_2.0_TASKS.md
Due: generate-docs-index

docs: add ADR-035 notification-only proactive delivery + update FR-004 docs
  CLAUDE.md
  docs/architecture/decisions/ADR-035-notification-only-proactive-delivery.md
  docs/tasks/PRATIKO_2.0.md
  docs/tasks/PRATIKO_2.0_REFERENCE.md
  docs/tasks/PRATIKO_2.0_TASKS.md
Due: generate-docs-index

docs: add ADR-035 no document storage in procedures + update DEV-344
  docs/architecture/decisions/ADR-035-no-document-storage-in-procedures.md
  docs/figma-make-references/FIGMA_PROMPT_ADR035_PROCEDURE_DOCUMENTS.md
  docs/figma-make-references/ProceduraInterattivaPage.tsx
  docs/tasks/PRATIKO_2.0.md
  docs/tasks/PRATIKO_2.0_TASKS.md
Due: generate-docs-index

docs: renumber ADR-035 to ADR-036 after merge with develop
  docs/architecture/decisions/ADR-036-no-document-storage-in-procedures.md
  docs/figma-make-references/FIGMA_PROMPT_ADR035_PROCEDURE_DOCUMENTS.md
  docs/figma-make-references/ProceduraInterattivaPage.tsx
  docs/tasks/PRATIKO_2.0.md
  docs/tasks/PRATIKO_2.0_TASKS.md
Due: generate-docs-index

docs: update ProceduraInterattivaPage with document verification from Figma
  docs/figma-make-references/DocumentVerificationSection.tsx
  docs/figma-make-references/ProceduraInterattivaPage.tsx
Due: none

docs: add REDIS_PASSWORD to .env.qa.example
  .env.qa.example
Due: none

feat: add versioning system with release notes API and frontend
  VERSION
  alembic/env.py
  app/api/v1/api.py
  app/api/v1/release_notes.py
  app/core/version.py
  app/models/release_note.py
  app/schemas/release_notes.py
  app/services/release_notes_service.py
  scripts/bump_version.py
  scripts/generate_release_notes.py
  tests/api/v1/test_release_notes.py
  tests/core/test_version.py
  tests/models/test_release_note.py
  tests/schemas/test_release_notes.py
  tests/services/test_release_notes_service.py
  web/src/app/chat/components/ChatSidebar.tsx
  web/src/app/novita/page.tsx
  web/src/app/page.tsx
  web/src/components/Footer.tsx
  web/src/components/VersionBadge.tsx
  web/src/components/WhatsNewPopup.tsx
  web/src/components/__tests__/VersionBadge.test.tsx
  web/src/components/__tests__/WhatsNewPopup.test.tsx
  web/src/lib/api/release-notes.ts
  web/src/lib/hooks/useReleaseNotes.ts
Due: check-alembic-migrations

refactor: replace /novita page with /novita chat slash command
  web/src/app/chat/commands.ts
  web/src/app/chat/components/ChatInputArea.tsx
  web/src/app/chat/components/ChatSidebar.tsx
  web/src/app/chat/components/NovitaDialog.tsx
  web/src/app/chat/components/__tests__/NovitaDialog.test.tsx
  web/src/app/novita/page.tsx
  web/src/app/page.tsx
  web/src/components/VersionBadge.tsx
  web/src/components/WhatsNewPopup.tsx
  web/src/components/__tests__/VersionBadge.test.tsx
  web/src/components/__tests__/WhatsNewPopup.test.tsx
  web/src/lib/hooks/useReleaseNotes.ts
Due: none

feat: add QA-aware release notes editing with environment detection
  app/api/v1/release_notes.py
  app/schemas/release_notes.py
  app/services/release_notes_service.py
  tests/api/v1/test_release_notes.py
  tests/schemas/test_release_notes.py
  tests/services/test_release_notes_service.py
  web/src/app/chat/components/ChatInputArea.tsx
  web/src/app/chat/components/NovitaDialog.tsx
  web/src/app/chat/components/__tests__/NovitaDialog.test.tsx
  web/src/lib/api/release-notes.ts
Due: none

fix: update slash command tests for alphabetical /novita ordering
  web/src/app/chat/components/__tests__/ChatInput.test.tsx
  web/src/app/chat/components/__tests__/SlashCommandMenu.test.tsx
Due: none

test: add tests for release-notes API and billing hooks to meet coverage thresholds
  web/src/lib/api/__tests__/release-notes.test.ts
  web/src/lib/hooks/__tests__/useBillingPlans.test.tsx
  web/src/lib/hooks/__tests__/useCreditTransactions.test.tsx
  web/src/lib/hooks/__tests__/useReleaseNotes.test.tsx
  web/src/lib/hooks/__tests__/useUsageStatus.test.tsx
Due: none

docs: add PDF support to FR-002 client import and safety compliance guide
  docs/compliance/PDF_CLIENT_IMPORT_SAFETY_GUIDE.md
  docs/tasks/PRATIKO_2.0_REFERENCE.md
Due: generate-docs-index

fix: correct UsageStatus mock to match WindowInfo and CreditInfo types
  web/src/lib/hooks/__tests__/useUsageStatus.test.tsx
Due: none

docs: define top 5 pre-production KPIs with phased expansion plan
  docs/kpis/PRE_PRODUCTION_KPIS.md
Due: generate-docs-index

fix: resolve /novita CORS error and add unseen release notes auto-popup
  alembic/versions/20260226_add_release_notes_tables.py
  app/services/release_notes_service.py
  tests/services/test_release_notes_service.py
  web/src/app/chat/components/ChatInputArea.tsx
Due: check-alembic-migrations

feat: implement Wave 0 foundation tasks (DEV-300,301,303,305,388,389,390,393,395,396)
  app/middleware/__init__.py
  app/middleware/rate_limit.py
  app/models/client.py
  app/models/matching_rule.py
  app/models/procedura.py
  app/models/regional_taxes.py
  app/models/studio.py
  app/services/llm_response/citation_validator.py
  app/services/ocr_service.py
  app/services/pdf_export_service.py
  app/services/regional_tax_service.py
  docs/compliance/DPIA_PratikoAI.md
  tests/conftest.py
  tests/middleware/test_rate_limit.py
  tests/models/test_client.py
  tests/models/test_matching_rule.py
  tests/models/test_procedura.py
  tests/models/test_studio.py
  tests/services/test_hallucination_guard_integration.py
  tests/services/test_ocr_service.py
  tests/services/test_pdf_export_service.py
  tests/services/test_regional_tax_enhancements.py
Due: check-alembic-migrations, generate-docs-index

fix: improve test coverage to meet CI 70% threshold for new code
  docs/tasks/PRATIKO_2.0_TASKS.md
  tests/middleware/test_rate_limit.py
  tests/services/test_hallucination_guard_integration.py
  tests/services/test_ocr_service.py
  tests/services/test_pdf_export_service.py
  tests/services/test_regional_tax_enhancements.py
Due: generate-docs-index

feat: implement Wave 1 tasks (DEV-302,304,306,324,394)
  app/models/client_profile.py
  app/models/communication.py
  app/models/proactive_suggestion.py
  app/models/procedura_progress.py
  app/services/feature_flag_service.py
  tests/models/test_client_profile.py
  tests/models/test_communication.py
  tests/models/test_proactive_suggestion.py
  tests/models/test_procedura_progress.py
  tests/services/test_feature_flag_service.py
Due: check-alembic-migrations

fix: replace deprecated datetime.utcnow() with datetime.now(UTC) in tests
  tests/models/test_communication.py
  tests/models/test_procedura_progress.py
Due: none

feat: implement Wave 2 - Alembic migration for Phase 0 tables (DEV-307)
  alembic/env.py
  alembic/versions/20260226_add_pratikoai_2_0_models.py
  tests/migrations/test_phase0_migration.py
Due: check-alembic-migrations

feat: implement Wave 3 - Core Service Layer (DEV-308,309,310,321,322,330,340,372,374,380)
  alembic/versions/20260226_add_wave3_models_and_seed_rules.py
  app/data/matching_rules.json
  app/models/breach_notification.py
  app/models/deadline.py
  app/models/dpa.py
  app/services/client_profile_service.py
  app/services/client_service.py
  app/services/communication_service.py
  app/services/procedura_service.py
  app/services/profile_embedding_service.py
  app/services/studio_service.py
  tests/data/__init__.py
  tests/data/test_matching_rules.py
  tests/models/test_breach_notification.py
  tests/models/test_deadline.py
  tests/models/test_dpa.py
  tests/services/test_client_profile_service.py
  tests/services/test_client_service.py
  tests/services/test_communication_service.py
  tests/services/test_procedura_service.py
  tests/services/test_profile_embedding_service.py
  tests/services/test_studio_service.py
Due: check-alembic-migrations

feat: add coming soon placeholder page at www.pratiko.app
  DOCUMENTATION_INDEX.md
  caddy/Caddyfile
  docker-compose.qa.yml
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  docs/figma-make-references/PlaceholderPage.tsx
  docs/figma-make-references/README.md
  web/src/app/placeholder/layout.tsx
  web/src/app/placeholder/page.tsx
  web/src/middleware.ts
Due: generate-docs-index

fix: use CAST() instead of :: for jsonb cast in migration to avoid SQLAlchemy parameter parsing conflict
  alembic/versions/20260226_add_wave3_models_and_seed_rules.py
Due: check-alembic-migrations

fix(test): add headers mock to middleware test for hostname rewrite
  web/src/__tests__/middleware.test.ts
Due: none

fix(migration): use CAST for jsonb in sa.text() + add CLAUDE.md guidelines
  CLAUDE.md
  alembic/versions/20260226_add_wave3_models_and_seed_rules.py
Due: check-alembic-migrations, generate-docs-index

fix: repair migration chain and remove unused imports
  alembic/versions/20260227_wave4_api_layer_and_services.py
  app/api/v1/dpa.py
  app/models/processing_register.py
  app/schemas/client.py
  app/schemas/communication.py
  app/services/dpa_service.py
  app/services/normative_matching_service.py
Due: check-alembic-migrations

test: add coverage tests for DPA API, procedure endpoints, and normative matching
  tests/api/test_dpa_api.py
  tests/api/test_procedure_api.py
  tests/services/test_normative_matching_service.py
Due: none

fix: replace ON CONFLICT with check-then-insert in migration seed
  alembic/versions/20260227_wave4_api_layer_and_services.py
Due: check-alembic-migrations

fix: import Studio and MatchingRule FK targets in database.py
  app/services/database.py
Due: none

fix: use CAST(:steps AS jsonb) instead of :steps::jsonb in migration
  alembic/versions/20260227_wave4_api_layer_and_services.py
Due: check-alembic-migrations

fix: use CAST(:conditions AS jsonb) in wave3 migration
  alembic/versions/20260226_add_wave3_models_and_seed_rules.py
Due: check-alembic-migrations

fix(caddy): add bare domain redirect pratiko.app → www.pratiko.app
  caddy/Caddyfile
  docker-compose.production.yml
  docker-compose.qa.yml
Due: none

feat: implement wave 5 — multi-tenancy, matching pipeline, deadlines, GDPR
  alembic/versions/20260227_wave5_multi_tenancy_matching_pipeline.py
  app/api/v1/api.py
  app/api/v1/data_rights.py
  app/api/v1/deadlines.py
  app/api/v1/matching.py
  app/jobs/deadline_notification_job.py
  app/jobs/matching_job.py
  app/middleware/tenant_context.py
  app/models/notification.py
  app/schemas/deadline.py
  app/schemas/matching.py
  app/services/client_export_service.py
  app/services/client_gdpr_service.py
  app/services/client_import_service.py
  app/services/communication_service.py
  app/services/deadline_extraction_service.py
  app/services/deadline_matching_service.py
  app/services/notification_service.py
  app/services/procedura_service.py
  tests/api/test_data_rights_api.py
  tests/api/test_deadlines_api.py
  tests/api/test_matching_api.py
  tests/jobs/__init__.py
  tests/jobs/conftest.py
  tests/jobs/test_deadline_notification_job.py
  tests/jobs/test_matching_job.py
  tests/middleware/__init__.py
  tests/middleware/test_tenant_context.py
  tests/models/test_notification.py
  tests/services/test_client_gdpr_service.py
  tests/services/test_client_import_service.py
  tests/services/test_communication_audit.py
  tests/services/test_deadline_extraction_service.py
  tests/services/test_deadline_matching_service.py
  tests/services/test_notification_service.py
  tests/services/test_procedura_analytics.py
Due: check-alembic-migrations

fix: address architecture review observations for wave 5
  app/api/v1/matching.py
  app/services/client_import_service.py
  app/services/communication_service.py
  tests/services/test_client_import_service.py
Due: none

fix: add ::vector cast to embedding backfill SQL updates
  app/services/scheduler_service.py
  scripts/repair_data_quality.py
  tests/services/conftest.py
  tests/services/test_embedding_backfill_task.py
Due: rss-scheduler-tests
