Repository mickgian/PratikoAi-BE: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-alembic-migrations, check-critical-dependencies, streaming-tests, rss-scheduler-tests, generate-docs-index, update-roadmap-timeline

Path conditions:
  check-alembic-migrations: any of: ^(alembic/versions/.*\.py|app/models/.*\.py)$
  check-critical-dependencies: any of: ^pyproject.toml$
  streaming-tests: any of: app/(core|api)/.*sse.*\.py|tests/.*sse.*\.py
  rss-scheduler-tests: any of: app/.*(scheduler|rss).*\.py|tests/.*scheduler.*\.py
  generate-docs-index: any of: \.md$
  update-roadmap-timeline: any of: ^ARCHITECTURE_ROADMAP\.md$

feat(DEV-252): Implement AI Agent Evaluation Framework
  .github/workflows/evals.yml
  evals/__init__.py
  evals/config.py
  evals/datasets/regression/response_known_good.json
  evals/datasets/regression/retrieval_known_good.json
  evals/datasets/regression/routing_known_good.json
  evals/graders/__init__.py
  evals/graders/citation_grader.py
  evals/graders/model_graders/__init__.py
  evals/graders/model_graders/ollama_judge.py
  evals/graders/retrieval_grader.py
  evals/graders/routing_grader.py
  evals/metrics/aggregate.py
  evals/metrics/consistency.py
  evals/reporting/__init__.py
  evals/reporting/delivery.py
  evals/reporting/generators.py
  evals/runner.py
  evals/schemas/__init__.py
  evals/schemas/test_case.py
  tests/evals/__init__.py
  tests/evals/graders/__init__.py
  tests/evals/graders/test_citation_grader.py
  tests/evals/graders/test_ollama_judge.py
  tests/evals/graders/test_retrieval_grader.py
  tests/evals/graders/test_routing_grader.py
  tests/evals/reporting/__init__.py
  tests/evals/reporting/test_generators.py
  tests/evals/test_aggregate.py
  tests/evals/test_consistency.py
  tests/evals/test_runner.py
  tests/evals/test_schemas.py
Due: none

fix(DEV-252): Implement zero-cost daily evaluations using golden datasets
  evals/config.py
  evals/datasets/regression/response_known_good.json
  evals/datasets/regression/retrieval_known_good.json
  evals/datasets/regression/routing_known_good.json
  evals/runner.py
  evals/schemas/test_case.py
  evals/services/__init__.py
  evals/services/email_delivery.py
  evals/services/system_invoker.py
  tests/evals/services/__init__.py
  tests/evals/services/test_system_invoker.py
Due: none

feat(DEV-252): Add scheduled daily evaluation report task
  DOCUMENTATION_INDEX.md
  app/core/config.py
  app/services/scheduler_service.py
  docs/DEV-252-AI-Agent-Evaluation-Framework.md
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  tests/evals/services/test_email_delivery.py
  tests/evals/services/test_scheduler_eval_report.py
Due: rss-scheduler-tests, generate-docs-index

docs(DEV-252): Document zero-cost daily evaluation architecture decisions
  .claude/agents/architect.md
  DOCUMENTATION_INDEX.md
  docs/DEV-252-AI-Agent-Evaluation-Framework.md
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
Due: generate-docs-index

fix: Resolve mypy errors and CI test failure
  app/services/article_extractor.py
  app/services/ingestion_report_service.py
  tests/services/test_ingestion_report_service.py
Due: none

fix(DEV-251): Fix duplicate LLM calls - reuse ToT response
  app/core/langgraph/nodes/step_064__llm_call.py
  app/services/tree_of_thoughts_reasoner.py
  tests/unit/core/langgraph/nodes/test_step64_tot_integration.py
  tests/unit/core/langgraph/nodes/test_step_064_duplicate_llm_fix.py
Due: none

feat(DEV-251): Add local rule-based classifier to replace GPT calls
  app/services/llm_orchestrator.py
  app/services/local_classifier.py
  tests/unit/services/test_local_classifier.py
Due: none

feat(DEV-251): HuggingFace zero-shot intent classifier
  DOCUMENTATION_INDEX.md
  app/core/config.py
  app/core/langgraph/nodes/step_034a__llm_router.py
  app/services/hf_intent_classifier.py
  app/services/topic_extraction/__init__.py
  app/services/topic_extraction/result_builders.py
  docs/DEV-251-huggingface-intent-classifier.md
  docs/INDEX.md
  docs/architecture/AI_ARCHITECT_KNOWLEDGE_BASE.md
  docs/architecture/INDEX.md
  docs/architecture/decisions/ADR-024-workflow-automation-architecture.md
  docs/architecture/steps/INDEX.md
  docs/tasks/PRATIKO_1.8.md
  docs/tasks/PRATIKO_1.8_REFERENCE.md
  screenshots_for_claude/Screenshot 2026-01-28 alle 08.50.22.png
  screenshots_for_claude/Screenshot 2026-01-30 alle 14.33.01.png
  tests/langgraph/agentic_rag/test_step_034a__llm_router.py
  tests/models/test_workflow_models.py
  tests/unit/services/test_hf_intent_classifier.py
Due: generate-docs-index

feat: Add Claude Code hooks for workflow automation
  .claude/hooks/auto-format.sh
  .claude/hooks/bash-validator.sh
  .claude/hooks/protect-files.sh
  .claude/hooks/session-start.sh
  .claude/hooks/tdd-check.sh
  .claude/settings.json
Due: none

feat: Add web-only GitHub issue context hook
  .claude/hooks/github-issue-context.sh
  .claude/settings.json
Due: none

docs(DEV-251): Add Langfuse REST API trace analysis guide
  DOCUMENTATION_INDEX.md
  docs/DEV-251-huggingface-intent-classifier.md
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
Due: generate-docs-index

feat(DEV-251): Performance optimizations for RAG pipeline
  DOCUMENTATION_INDEX.md
  Dockerfile
  app/core/config.py
  app/core/langgraph/nodes/step_034a__llm_router.py
  app/core/langgraph/nodes/step_064__llm_call.py
  app/main.py
  app/prompts/v1/tree_of_thoughts.md
  app/prompts/v1/tree_of_thoughts_multi_domain.md
  app/services/cache.py
  app/services/disclaimer_filter.py
  app/services/hf_intent_classifier.py
  app/services/hyde_generator.py
  app/services/llm_orchestrator.py
  app/services/multi_query_generator.py
  app/services/tree_of_thoughts_reasoner.py
  docker-compose.yml
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  docs/tasks/PRATIKO_1.8.md
  docs/tasks/PRATIKO_1.8_REFERENCE.md
  docs/tasks/PRATIKO_1.9_BACKLOG.md
  tests/services/test_disclaimer_filter.py
  tests/unit/prompts/test_tree_of_thoughts.py
  tests/unit/prompts/test_tree_of_thoughts_multi_domain.py
  tests/unit/services/test_hf_intent_classifier.py
  tests/unit/services/test_hyde_caching.py
  tests/unit/services/test_tree_of_thoughts_reasoner.py
Due: generate-docs-index

fix(DEV-251): Fix follow-up mode override - pass is_followup flag through pipeline
  .claude/agents/architect.md
  DOCUMENTATION_INDEX.md
  app/core/langgraph/nodes/step_034a__llm_router.py
  app/core/langgraph/nodes/step_064__llm_call.py
  app/orchestrators/prompting.py
  app/prompts/v1/tree_of_thoughts.md
  app/prompts/v1/tree_of_thoughts_multi_domain.md
  app/prompts/v1/unified_response_simple.md
  app/services/knowledge_search_service.py
  app/services/llm_orchestrator.py
  app/services/llm_response/tot_orchestrator.py
  app/services/query_normalizer.py
  app/services/topic_extraction/result_builders.py
  app/services/tree_of_thoughts_reasoner.py
  docs/DEV-251-huggingface-intent-classifier.md
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  tests/unit/orchestrators/__init__.py
  tests/unit/orchestrators/test_prompting_followup.py
  tests/unit/prompts/test_tree_of_thoughts.py
  tests/unit/prompts/test_tree_of_thoughts_multi_domain.py
  tests/unit/prompts/test_unified_response_simple.py
  tests/unit/services/test_followup_detection.py
  tests/unit/services/test_knowledge_search_context.py
  tests/unit/services/test_query_normalizer.py
Due: generate-docs-index

feat(DEV-251): Add bold section formatter for improved response styling
  .claude/agents/architect.md
  DOCUMENTATION_INDEX.md
  app/orchestrators/prompting.py
  app/prompts/v1/tree_of_thoughts.md
  app/prompts/v1/unified_response_simple.md
  app/services/domain_prompt_templates.py
  app/services/llm_response/__init__.py
  app/services/llm_response/bold_section_formatter.py
  app/services/llm_response/response_processor.py
  docs/DEV-251-huggingface-intent-classifier.md
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  screenshots_for_claude/Screenshot 2026-01-30 alle 14.33.01.png
  tests/services/test_bold_section_formatter.py
Due: generate-docs-index

fix(tests): Skip workflow model tests until DEV-260 implementation
  tests/models/test_workflow_models.py
Due: none

fix(tests): Fix failing tests for DEV-251 changes
  app/services/llm_response/response_processor.py
  tests/langgraph/agentic_rag/test_step_034a__llm_router.py
  tests/orchestrators/test_prompting.py
  tests/unit/core/langgraph/nodes/test_step64_tot_integration.py
Due: none

feat(DEV-253): Add intent labeling backend, dual-mode classifier, and Langfuse improvements
  DOCUMENTATION_INDEX.md
  Dockerfile
  alembic/versions/20260203_add_intent_labeling.py
  app/api/v1/api.py
  app/api/v1/intent_labeling.py
  app/core/config.py
  app/core/langgraph/graph.py
  app/core/langgraph/nodes/step_034a__llm_router.py
  app/models/intent_labeling.py
  app/observability/langfuse_config.py
  app/schemas/intent_labeling.py
  app/services/hf_intent_classifier.py
  app/services/intent_labeling_service.py
  docker-compose.yml
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  docs/intent-classifier-training-guide.md
  pyproject.toml
  scripts/train_intent_classifier.py
  tests/api/v1/test_intent_labeling.py
  tests/scripts/test_train_intent_classifier.py
  tests/unit/observability/test_langfuse_config.py
  tests/unit/services/test_hf_intent_classifier.py
  tests/unit/services/test_labeling_service.py
  uv.lock
Due: check-alembic-migrations, check-critical-dependencies, generate-docs-index

fix(DEV-254): Fix silent failure in usage tracking due to field name mismatches
  .claude/hooks/architect-review.sh
  .claude/settings.json
  app/core/langgraph/nodes/step_074__track_usage.py
  app/core/llm/base.py
  app/orchestrators/metrics.py
  app/services/llm_orchestrator.py
  app/services/usage_tracker.py
  tests/core/langgraph/__init__.py
  tests/core/langgraph/nodes/__init__.py
  tests/core/langgraph/nodes/test_step_074__track_usage.py
  tests/test_rag_step_74_field_extraction.py
Due: none

chore: Add .mcp.json to gitignore and provide example template
  .gitignore
  .mcp.json.example
Due: none

chore: Remove .mcp.json from version control
  .mcp.json
Due: none

fix(DEV-255): Make account_code migration idempotent
  alembic/versions/20260204_add_account_code_to_user.py
Due: check-alembic-migrations

fix(DEV-255): Fix fragile test mocking causing CI failures
  tests/unit/services/test_create_user_account_code.py
Due: none

fix(DEV-255): Remove object.__new__ pattern causing CI test failures
  tests/unit/services/test_create_user_account_code.py
Due: none

fix(DEV-255): Simplify account_code tests to avoid mock pollution
  tests/unit/services/test_create_user_account_code.py
Due: none

feat(DEV-256): Multi-model LLM comparison feature for SUPER_USER
  CLAUDE.md
  alembic/env.py
  alembic/versions/20260206_add_model_comparison_tables.py
  alembic/versions/20260207_add_pending_comparison.py
  alembic/versions/20260209_add_enriched_prompt_to_pending_comparison.py
  alembic/versions/20260209_add_metrics_to_pending_comparison.py
  app/api/v1/api.py
  app/api/v1/chatbot.py
  app/api/v1/model_comparison.py
  app/core/config.py
  app/core/langgraph/graph.py
  app/core/langgraph/nodes/step_064__llm_call.py
  app/core/langgraph/types.py
  app/core/llm/base.py
  app/core/llm/factory.py
  app/core/llm/providers/anthropic_provider.py
  app/core/llm/providers/gemini_provider.py
  app/core/llm/providers/mistral_provider.py
  app/core/llm/providers/openai_provider.py
  app/models/comparison.py
  app/schemas/chat.py
  app/schemas/comparison.py
  app/services/comparison_service.py
  app/services/llm_orchestrator.py
  pyproject.toml
  screenshots_for_claude/Screenshot 2026-02-06 alle 12.53.13.png
  screenshots_for_claude/Screenshot 2026-02-06 alle 13.01.42.png
  tests/api/v1/test_model_comparison.py
  tests/core/langgraph/nodes/test_step_064__llm_call.py
  tests/core/llm/providers/test_gemini_provider.py
  tests/core/llm/providers/test_mistral_provider.py
  tests/core/llm/test_factory.py
  tests/models/test_comparison.py
  tests/schemas/test_comparison.py
  tests/services/test_comparison_service.py
  tests/unit/services/test_llm_orchestrator.py
  uv.lock
Due: check-alembic-migrations, check-critical-dependencies, generate-docs-index

fix(DEV-256): Pass explicit cost to Langfuse for Mistral generations
  app/core/llm/providers/mistral_provider.py
Due: none

fix(DEV-256): Refactor comparison service Langfuse context handling
  .secrets.baseline
  DOCUMENTATION_INDEX.md
  app/services/comparison_service.py
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
Due: generate-docs-index

docs: Add comprehensive data cleaning & ingestion pipeline audit
  DATA_CLEANING_AUDIT.md
Due: generate-docs-index

docs: Add verification results and DB diagnostic script
  DATA_CLEANING_AUDIT.md
  scripts/audit_data_quality.py
Due: generate-docs-index

refactor(DEV-256): Store costs in USD, convert to EUR at display time
  DOCUMENTATION_INDEX.md
  app/core/llm/providers/anthropic_provider.py
  app/core/llm/providers/gemini_provider.py
  app/core/llm/providers/mistral_provider.py
  app/core/llm/providers/openai_provider.py
  app/schemas/comparison.py
  app/services/comparison_service.py
  app/services/exchange_rate_service.py
  app/services/usage_tracker.py
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/decisions/ADR-026-exchange-rate-service.md
  docs/architecture/steps/INDEX.md
  tests/services/test_comparison_service.py
  tests/services/test_exchange_rate_service.py
  tests/services/test_usage_tracker.py
Due: generate-docs-index

fix(DEV-256): Use account_code instead of user_id in Langfuse traces
  app/services/comparison_service.py
Due: none

fix(DEV-256): Update test to include input_cost/output_cost params
  tests/unit/llm/test_provider_langfuse_reporting.py
Due: none

feat(DEV-258): Data quality repair & prevention pipeline fixes
  DOCUMENTATION_INDEX.md
  alembic/versions/20260211_add_content_hash_column.py
  alembic/versions/20260211_add_source_url_unique_index.py
  app/core/chunking.py
  app/core/document_ingestion.py
  app/core/embed.py
  app/core/text/clean.py
  app/core/text/extract_pdf_plumber.py
  app/core/text/hyphenation.py
  app/ingest/rss_normativa.py
  app/models/knowledge.py
  app/services/data_quality_audit_service.py
  app/services/ingestion_report_service.py
  app/services/knowledge_integrator.py
  app/services/tiered_ingestion_service.py
  docs/DEV-258-data-quality-repair-prevention.md
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  scripts/audit_data_quality.py
  scripts/repair_data_quality.py
  tests/core/test_chunking.py
  tests/core/test_clean.py
  tests/core/test_document_ingestion.py
  tests/core/test_embed.py
  tests/core/test_hyphenation.py
  tests/services/test_data_quality_audit_service.py
  tests/services/test_ingestion_report_service.py
  tests/services/test_knowledge_integrator.py
  tests/unit/services/test_tiered_ingestion_service.py
Due: check-alembic-migrations, rss-scheduler-tests, generate-docs-index

fix(DEV-257): Fix test mocks for get_db context manager and model registry
  tests/services/test_database_get_db.py
  tests/unit/services/test_llm_orchestrator.py
Due: none

fix(DEV-257): Use explicit AsyncMock for async context manager in get_db tests
  tests/services/test_database_get_db.py
Due: none

fix(DEV-257): Rewrite get_db tests to bypass conftest sys.modules mock
  tests/services/test_database_get_db.py
Due: none
