Repository mickgian/PratikoAi-BE: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-alembic-migrations, check-critical-dependencies, streaming-tests, rss-scheduler-tests, generate-docs-index, update-roadmap-timeline

Path conditions:
  check-alembic-migrations: any of: ^(alembic/versions/.*\.py|app/models/.*\.py)$
  check-critical-dependencies: any of: ^pyproject.toml$
  streaming-tests: any of: app/(core|api)/.*sse.*\.py|tests/.*sse.*\.py
  rss-scheduler-tests: any of: app/.*(scheduler|rss).*\.py|tests/.*scheduler.*\.py
  generate-docs-index: any of: \.md$
  update-roadmap-timeline: any of: ^ARCHITECTURE_ROADMAP\.md$

fix(ci): update integration tests for golden_set -> normative_reference rename
  tests/integration/test_agentic_rag_pipeline.py
Due: none

fix(ci): correct mock path for HF classifier in integration tests
  tests/integration/test_agentic_rag_pipeline.py
Due: none

feat(gdpr): implement DEV-BE-74 GDPR compliance audit for QA environment
  app/api/v1/api.py
  app/api/v1/gdpr_audit.py
  app/core/privacy/data_retention.py
  app/core/privacy/gdpr_compliance_audit.py
  docs/compliance/GDPR_AUDIT_QA_REPORT.md
  tests/api/v1/test_gdpr_audit.py
  tests/core/privacy/test_data_retention.py
  tests/gdpr/__init__.py
  tests/gdpr/test_gdpr_compliance_audit.py
Due: generate-docs-index

docs: add comprehensive prompt caching analysis report
  PROMPT_CACHING_ANALYSIS.md
Due: generate-docs-index

docs: add auxiliary LLM call sites to prompt caching analysis
  PROMPT_CACHING_ANALYSIS.md
Due: generate-docs-index

feat(ci): automate Flagsmith QA setup via idempotent seed script
  .env.example
  .github/workflows/deploy-qa.yml
  docker-compose.qa.yml
  scripts/seed_flagsmith_qa.sh
Due: none

fix(ci): add cache-dependency-path and working-directory for frontend steps
  .github/workflows/feature-flag-testing.yml
Due: none

fix(ci): remove non-existent requirements.txt from feature-flag workflow
  .github/workflows/feature-flag-testing.yml
Due: none

fix(ci): resolve Flagsmith 502 by ensuring DB exists before container starts
  .github/workflows/deploy-qa.yml
  docker-compose.qa.yml
Due: none

fix(ci): remove stale directories before SCP to prevent tar extraction error
  .github/workflows/deploy-qa.yml
Due: none

fix(ci): ensure Flagsmith DB exists before container starts and add health gate
  .github/workflows/deploy-qa.yml
  docker-compose.qa.yml
Due: none

fix(ci): use docker to remove root-owned stale paths before SCP
  .github/workflows/deploy-qa.yml
Due: none

fix(ci): remove entire docker/ and caddy/ dirs to fix root-owned parent permission error
  .github/workflows/deploy-qa.yml
Due: none

fix(flagsmith): add localhost and container name to DJANGO_ALLOWED_HOSTS
  docker-compose.qa.yml
Due: none

fix(flagsmith): resolve deploy failures with health check and startup fixes
  .github/workflows/deploy-qa.yml
  docker-compose.qa.yml
  scripts/seed_flagsmith_qa.sh
Due: none

fix(flagsmith): correct environment API endpoint and frontend healthcheck timing
  docker-compose.qa.yml
  docker-compose.yml
  scripts/seed_flagsmith_qa.sh
Due: none

fix(ci): add observability for frontend and flagsmith seed failures
  .github/workflows/deploy-qa.yml
  scripts/seed_flagsmith_qa.sh
Due: none

fix(evals): resolve RESPONSE-REG-001 to 005 nightly test failures
  evals/datasets/regression/response_known_good.json
  evals/graders/citation_grader.py
  tests/evals/graders/test_citation_grader.py
Due: none

fix(embeddings): add automated backfill task for missing embeddings
  app/core/config.py
  app/services/scheduler_service.py
  tests/services/conftest.py
  tests/services/test_embedding_backfill_task.py
Due: rss-scheduler-tests

fix(metrics): resolve System Uptime always reporting 0% in health report
  app/core/performance/performance_monitor.py
  app/services/metrics_service.py
  tests/services/test_metrics_service.py
Due: none

fix(deploy): use node healthcheck and create missing flagsmith environment
  .github/workflows/deploy-qa.yml
  docker-compose.qa.yml
  scripts/seed_flagsmith_qa.sh
Due: none

ci: remove commitlint PR title validation workflow
  .github/workflows/commitlint.yml
Due: none

docs: add provider prompt caching compatibility section to analysis
  PROMPT_CACHING_ANALYSIS.md
Due: generate-docs-index

fix(tests): mock performance_monitor in uptime tests for CI stability
  tests/services/test_metrics_service.py
Due: none

feat: section-aware chunking, preamble removal, page number & ligature cleanup (DEV-259)
  app/core/chunking.py
  app/core/text/clean.py
  app/core/text/extract_pdf_plumber.py
  tests/core/test_chunking.py
  tests/core/test_clean.py
  tests/core/test_extract_pdf_plumber.py
Due: none

feat(flagsmith): migrate 15 runtime-tunable vars to Flagsmith fallback chain (DEV-262)
  app/core/config.py
  app/core/llm/model_config.py
  app/core/remote_config.py
  scripts/seed_flagsmith_qa.sh
  tests/core/llm/test_model_config.py
  tests/core/test_config.py
  tests/core/test_remote_config.py
Due: none

docs: local LLM evaluation report for PratikoAI and PRATIKO 2.0
  docs/reports/LOCAL_LLM_EVALUATION_REPORT.md
Due: generate-docs-index

docs: add ChatPage Integration Guidelines and Figma Make references
  DOCUMENTATION_INDEX.md
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  docs/figma-make-references/ChatPage.tsx
  docs/figma-make-references/ClientActionPicker.tsx
  docs/figma-make-references/ClientDetailPage.tsx
  docs/figma-make-references/ClientImportPage.tsx
  docs/figma-make-references/ClientListPage.tsx
  docs/figma-make-references/ClientMentionAutocomplete.tsx
  docs/figma-make-references/DashboardPage.tsx
  docs/figma-make-references/GDPRCompliancePage.tsx
  docs/figma-make-references/GestioneComunicazioniPage.tsx
  docs/figma-make-references/MatchingNormativoPage.tsx
  docs/figma-make-references/NotificationsDropdown.tsx
  docs/figma-make-references/ProceduraInterattivaPage.tsx
  docs/figma-make-references/ProcedureSelector.tsx
  docs/figma-make-references/README.md
  docs/figma-make-references/RisultatiMatchingNormativoPanel.tsx
  docs/figma-make-references/ScadenzeFiscaliPage.tsx
  docs/tasks/PRATIKO_2.0.md
  docs/tasks/PRATIKO_2.0_REFERENCE.md
Due: generate-docs-index

fix(metrics): daily schedule, real values, single-env report, distributed lock
  app/core/config.py
  app/services/email_service.py
  app/services/metrics_service.py
  app/services/scheduler_service.py
  tests/services/test_metrics_service.py
Due: rss-scheduler-tests

feat: consolidate daily reports into single email with collapsible sections
  app/core/config.py
  app/services/consolidated_report_service.py
  app/services/scheduler_service.py
  tests/services/test_consolidated_report_service.py
Due: rss-scheduler-tests

fix(security): harden Redis — require auth, bind localhost, block external ports
  docker-compose.production.yml
  docker-compose.qa.yml
  docker-compose.yml
  scripts/server-setup.sh
Due: none

docs: add ADR-033 Redis security hardening (incident response)
  docs/architecture/decisions/ADR-033-redis-security-hardening.md
Due: generate-docs-index

test: increase consolidated report service coverage from 63% to 70%+
  tests/services/test_consolidated_report_service.py
Due: none

docs: add PRATIKO_2.0_TASKS.md with wave-structured implementation plan
  docs/tasks/PRATIKO_2.0_TASKS.md
Due: generate-docs-index

docs: fix Phase 11 task count from "7+1" to "8 tasks" in summary table
  docs/tasks/PRATIKO_2.0_TASKS.md
Due: generate-docs-index

fix(deploy): add env var pre-flight check to QA deploy workflow
  .github/workflows/deploy-qa.yml
Due: none

docs: close 16 PRD gaps in PRATIKO_2.0_TASKS.md (104→120 tasks)
  docs/tasks/PRATIKO_2.0.md
  docs/tasks/PRATIKO_2.0_TASKS.md
Due: generate-docs-index

docs: add architect review note to DEV-406 (existing VAT methods)
  docs/tasks/PRATIKO_2.0_TASKS.md
Due: generate-docs-index

docs: note FeedbackButtons has own design, not Figma
  docs/tasks/PRATIKO_2.0.md
Due: generate-docs-index

docs: add 20 new tasks (DEV-422 to DEV-441) closing 16 Figma gaps
  docs/figma-make-references/README.md
  docs/tasks/PRATIKO_2.0.md
Due: generate-docs-index
