Repository mickgian/PratikoAi-BE: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-alembic-migrations, check-critical-dependencies, streaming-tests, rss-scheduler-tests, generate-docs-index, update-roadmap-timeline

check-alembic-migrations:
  name: Check Alembic migrations are up-to-date
  entry: bash -c 'alembic check || (echo WARNING - Database migrations pending && exit 1)'
  language: system
  pass_filenames: false
  always_run: false

check-critical-dependencies:
  name: Check critical dependencies in pyproject.toml
  entry: python scripts/check_critical_deps.py
  language: system
  pass_filenames: false
  always_run: false

streaming-tests:
  name: Run streaming protection tests
  entry: bash -c 'source scripts/set_env.sh development && python -m pytest tests/core/test_sse_formatter.py tests/api/test_sse_comment_detection.py tests/api/test_sse_keepalive_timing.py tests/unit/core/test_sse_write_helper.py -v --tb=line -x'
  language: system
  ...

rss-scheduler-tests:
  name: Run RSS scheduler tests
  entry: bash -c 'source scripts/set_env.sh development && python -m pytest tests/test_scheduler_italian_integration.py -v --tb=line -x'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

generate-docs-index:
  name: Generate documentation indexes
  entry: python scripts/generate_docs_index.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

update-roadmap-timeline:
  name: Update roadmap deployment timeline estimates
  entry: python scripts/update_roadmap_timeline.py --notify
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Fix: Make add_user_role migration idempotent for CI
  alembic/versions/20251124_add_user_role.py
Due: check-alembic-migrations

Fix: Keep role column in Phase 3 migration
  alembic/versions/18759d179eec_phase_3_user_dependent_models.py
Due: check-alembic-migrations

Fix: Make faq_candidates embedding migration idempotent
  alembic/versions/20251126_add_question_embedding_to_faq_candidates.py
Due: check-alembic-migrations

Fix: Make all embedding/column migrations idempotent
  alembic/versions/20251124_add_generated_faq_id_to_expert_feedback.py
  alembic/versions/20251126_add_embedding_to_expert_faq_candidates.py
  alembic/versions/20251126_add_query_signature_to_faq_candidates.py
  alembic/versions/20251126_add_question_embedding_to_faq.py
Due: check-alembic-migrations

Fix: Make Phase 3 migration drop operations idempotent
  alembic/versions/18759d179eec_phase_3_user_dependent_models.py
Due: check-alembic-migrations

fix: make add_column operations idempotent in Phase 3 migration
  alembic/versions/18759d179eec_phase_3_user_dependent_models.py
Due: check-alembic-migrations

fix: make create_index operations idempotent in Phase 3 migration
  alembic/versions/18759d179eec_phase_3_user_dependent_models.py
Due: check-alembic-migrations

fix: correct recursive call bug in safe_create_index helper
  alembic/versions/18759d179eec_phase_3_user_dependent_models.py
Due: check-alembic-migrations

fix: comprehensive idempotent migration helpers
  alembic/versions/18759d179eec_phase_3_user_dependent_models.py
Due: check-alembic-migrations

fix: correct Phase 3 migration dependency chain
  alembic/versions/18759d179eec_phase_3_user_dependent_models.py
Due: check-alembic-migrations

fix: make Phase 3 depend on Phase 2 CCNL migration
  alembic/versions/18759d179eec_phase_3_user_dependent_models.py
Due: check-alembic-migrations

fix(migration): Make ENUM types idempotent in c1e8314d9b6d
  alembic/versions/c1e8314d9b6d_add_expert_generated_task_table.py
Due: check-alembic-migrations

fix(migration): Make all schema operations idempotent in c1e8314d9b6d
  alembic/versions/c1e8314d9b6d_add_expert_generated_task_table.py
Due: check-alembic-migrations

fix(migration): Make drop operations idempotent in c1e8314d9b6d
  alembic/versions/c1e8314d9b6d_add_expert_generated_task_table.py
Due: check-alembic-migrations

fix(migration): Make drop_constraint idempotent in c1e8314d9b6d
  alembic/versions/c1e8314d9b6d_add_expert_generated_task_table.py
Due: check-alembic-migrations

fix(migration): Make ALL schema operations idempotent in c1e8314d9b6d
  alembic/versions/c1e8314d9b6d_add_expert_generated_task_table.py
Due: check-alembic-migrations

fix(migration): Check table existence before column operations
  alembic/versions/c1e8314d9b6d_add_expert_generated_task_table.py
Due: check-alembic-migrations

fix(migration): Check table existence in ALL safe helpers
  alembic/versions/c1e8314d9b6d_add_expert_generated_task_table.py
Due: check-alembic-migrations

Fix test import errors for PR #755 CI
  DOCUMENTATION_INDEX.md
  app/models/quality_analysis.py
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  docs/deployment/DEPLOYMENT_EXPERT_FEEDBACK_SCHEMA.md
  tests/e2e/README.md
  tests/e2e/conftest.py
  tests/models/__init__.py
  tests/models/baseline_migration/__init__.py
  tests/models/baseline_migration/test_quality_analysis_baseline.py
  tests/unit/__init__.py
  tests/unit/langgraph_tests/__init__.py
  tests/unit/langgraph_tests/test_golden_streaming_priority.py
Due: check-alembic-migrations, generate-docs-index

Fix remaining test collection errors
  tests/core/test_query_signature_generation.py
  tests/e2e/conftest.py
Due: none

Fix DocumentAnalysis mapper conflict and test issues
  app/models/data_export.py
  tests/services/test_chat_history_service.py
Due: check-alembic-migrations

Fix Golden Set workflow patches in tests
  tests/services/test_expert_feedback_background_tasks.py
Due: none

Fix alembic/env.py import for renamed ExportDocumentAnalysis
  alembic/env.py
Due: none

Fix test suite issues: FK constraints, async fixtures, timezone handling
  tests/conftest.py
  tests/services/test_chat_history_service.py
  tests/services/test_expert_faq_retrieval_performance.py
  tests/services/test_expert_faq_retrieval_service.py
  tests/services/test_expert_faq_retrieval_service_simple.py
  tests/services/test_expert_feedback_background_tasks.py
  tests/services/test_task_generator_service.py
Due: none

Fix more test failures: UserRole enum, embedding tests, RAG step tests
  tests/api/test_expert_feedback.py
  tests/api/test_expert_feedback_corretta.py
  tests/api/test_expert_feedback_submission.py
  tests/api/test_expert_profile_retrieval.py
  tests/e2e/test_expert_feedback_e2e.py
  tests/models/test_faq_entry_enum.py
  tests/orchestrators/test_step_127_embedding_integration.py
  tests/test_rag_step_20_golden_fast_gate.py
  tests/test_rag_step_24_golden_lookup.py
Due: none

Skip database integration tests that require real PostgreSQL
  tests/models/baseline_migration/test_faq_automation_baseline.py
  tests/models/baseline_migration/test_quality_analysis_baseline.py
  tests/models/test_enum_serialization.py
Due: none

Skip chat history integration tests requiring port 5433 database
  tests/integration/test_chat_history_flow.py
Due: none

Fix remaining test failures: paths, skips, RED phase tests
  tests/integration/test_golden_set_retrieval_workflow.py
  tests/integration/test_golden_set_step24_semantic_search.py
  tests/integration/test_golden_set_workflow.py
  tests/models/test_faq_automation_mapper.py
  tests/models/test_no_duplicate_table_names.py
  tests/services/test_expert_faq_retrieval_service.py
Due: none

Fix 47 failing API/E2E tests for CI
  tests/api/test_chatbot_history_endpoints.py
  tests/api/test_expert_feedback.py
  tests/api/test_expert_feedback_corretta.py
  tests/api/test_expert_feedback_submission.py
  tests/api/test_expert_profile_retrieval.py
  tests/e2e/test_expert_feedback_e2e.py
  tests/integration/test_expert_feedback_complete_flow.py
Due: none

Fix Golden Set similarity threshold and add entity validation tests
  QUERY_ISSUES_ROADMAP.md
  app/core/embed.py
  app/main.py
  app/orchestrators/golden.py
  app/services/expert_faq_retrieval_service.py
  app/services/expert_faq_retrieval_service_optimized.py
  app/services/intelligent_faq_service.py
  tests/services/test_expert_faq_entity_validation.py
  tests/services/test_intelligent_faq_two_tier_matching.py
Due: generate-docs-index

chore: Add database backups to .gitignore
  .gitignore
  backups/pratiko_backup_20251129_192830.sql.gz
  backups/pratiko_backup_latest.sql.gz
Due: none

docs: Update auto-generated documentation indexes
  DOCUMENTATION_INDEX.md
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
Due: generate-docs-index

docs: Sanitize credentials in migration documentation
  DOCUMENTATION_INDEX.md
  MIGRATION_20251126_QUESTION_EMBEDDING.md
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
Due: generate-docs-index

fix: Expert feedback task generation in Docker environment
  DOCUMENTATION_INDEX.md
  app/services/task_generator_service.py
  docker-compose.yml
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  docs/tasks/QUERY_ISSUES_ROADMAP.md
  tests/services/test_task_generator_service.py
Due: generate-docs-index

feat: Add Claude Code sandboxing infrastructure
  .claude/docs/SANDBOXING_GUIDE.md
  .claude/rss-domains.json
  .env.example
  .pre-commit-config.yaml
  DOCUMENTATION_INDEX.md
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  docs/tasks/SANDBOXING_ROADMAP.md
  scripts/validate_rss_sandbox.py
  scripts/weekly_sandbox_review.py
Due: generate-docs-index

chore: Update business-analyst agent and subagent names
  .claude/agents/business-analyst.md
  .claude/subagent-names.json
Due: generate-docs-index

fix: Resolve guillemets breaking FTS tokenization
  DOCUMENTATION_INDEX.md
  alembic/versions/20251204_add_expanded_rss_feeds.py
  alembic/versions/20251209_fix_guillemets_fts.py
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  docs/meta/RSS_ACTIVATION_SUMMARY.md
  docs/schema_report.md
  docs/tasks/ARCHITECTURE_ROADMAP.md
  tests/services/test_feed_configuration.py
  tests/test_rag_step_133_fetch_feeds.py
Due: check-alembic-migrations, generate-docs-index

Path conditions:
  check-alembic-migrations: any of: ^(alembic/versions/.*\.py|app/models/.*\.py)$
  check-critical-dependencies: any of: ^pyproject.toml$
  streaming-tests: any of: app/(core|api)/.*sse.*\.py|tests/.*sse.*\.py
  rss-scheduler-tests: any of: app/.*(scheduler|rss).*\.py|tests/.*scheduler.*\.py
  generate-docs-index: any of: \.md$
  update-roadmap-timeline: any of: ^ARCHITECTURE_ROADMAP\.md$
