Repository mickgian/PratikoAi-BE: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-alembic-migrations, check-critical-dependencies, streaming-tests, rss-scheduler-tests, generate-docs-index, update-roadmap-timeline

Path conditions:
  check-alembic-migrations: any of: ^(alembic/versions/.*\.py|app/models/.*\.py)$
  check-critical-dependencies: any of: ^pyproject.toml$
  streaming-tests: any of: app/(core|api)/.*sse.*\.py|tests/.*sse.*\.py
  rss-scheduler-tests: any of: app/.*(scheduler|rss).*\.py|tests/.*scheduler.*\.py
  generate-docs-index: any of: \.md$
  update-roadmap-timeline: any of: ^ARCHITECTURE_ROADMAP\.md$

feat(DEV-236): Update Source Schema for Paragraph-Level Grounding
  app/core/langgraph/nodes/step_040__build_context.py
  app/schemas/proactivity.py
  docs/tasks/ARCHITECTURE_ROADMAP.md
  docs/tasks/PRATIKO_1.5.md
  tests/unit/core/langgraph/nodes/test_step_040_paragraph_grounding.py
  tests/unit/schemas/test_action_source_excerpt.py
Due: generate-docs-index

fix(tests): Fix HyDE test mocks for DEV-235 ambiguity detection
  tests/services/test_hyde_generator.py
  tests/unit/services/test_hyde_conversation_awareness.py
Due: none

fix(tests): Fix HyDE test mocks for DEV-235 ambiguity detection
  tests/unit/services/test_hyde_conversation_awareness.py
Due: none

feat(DEV-237): Implement Paragraph Extraction in Retrieval
  app/core/langgraph/nodes/step_040__build_context.py
  app/services/paragraph_extractor.py
  tests/unit/services/test_paragraph_extractor.py
Due: none

feat(DEV-238): Add Detailed Logging for Reasoning Traces
  DOCUMENTATION_INDEX.md
  app/core/langgraph/nodes/step_064__llm_call.py
  app/services/reasoning_trace_logger.py
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  docs/tasks/PRATIKO_1.5.md
  tests/unit/services/test_reasoning_trace_logger.py
Due: generate-docs-index

feat(DEV-239): Add cost monitoring dashboard service and endpoints
  app/api/v1/monitoring.py
  app/services/cost_monitoring_dashboard.py
  docs/tasks/PRATIKO_1.5.md
  tests/unit/services/test_cost_monitoring_dashboard.py
Due: generate-docs-index

refactor(DEV-185): Use GPT-4o for all contexts, remove Anthropic context-based switching
  app/services/premium_model_selector.py
  tests/services/test_premium_model_selector.py
Due: none

fix(tests): Update phase7 test to check for renamed test method
  tests/phase7/test_phase7_consolidation.py
Due: none

feat(DEV-240): Add action quality metrics service and endpoints
  app/api/v1/monitoring.py
  app/services/action_quality_metrics.py
  docs/tasks/PRATIKO_1.5.md
  tests/unit/services/test_action_quality_metrics.py
Due: generate-docs-index

docs(DEV-241): Update PRATIKO_1.5.md with completion status
  DOCUMENTATION_INDEX.md
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  docs/tasks/PRATIKO_1.5.md
Due: generate-docs-index

feat(DEV-242): Add <answer> tag reminder to fix format compliance (Phase 45)
  .claude/agents/architect.md
  DOCUMENTATION_INDEX.md
  app/orchestrators/facts.py
  app/orchestrators/prompting.py
  app/services/llm_orchestrator.py
  app/services/parallel_retrieval.py
  docs/DEV-242-response-quality-summary.md
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
Due: generate-docs-index

fix(DEV-242): Preserve ALL source URLs during context building (Phase 52-54)
  DOCUMENTATION_INDEX.md
  app/orchestrators/prompting.py
  app/services/context_builder_merge.py
  docs/DEV-242-response-quality-summary.md
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
Due: generate-docs-index

fix(DEV-242): Make tiered ingestion migration idempotent
  alembic/versions/20260109_add_tiered_document_ingestion.py
Due: check-alembic-migrations

fix(DEV-242): Update tests to match code changes
  tests/langgraph/agentic_rag/test_step_039_query_expansion.py
  tests/schemas/test_chat.py
  tests/unit/core/langgraph/nodes/test_step_064_kb_empty.py
  tests/unit/services/test_llm_orchestrator.py
Due: none

fix(DEV-242): Fix mock patch paths for lazy imports
  tests/langgraph/agentic_rag/test_step_039_query_expansion.py
Due: none

fix(DEV-242): Add missing fields to test QueryVariants dataclass
  tests/langgraph/agentic_rag/test_step_039_query_expansion.py
Due: none

fix(DEV-244): KB source URLs display + suggested actions quality
  .claude/agents/architect.md
  .mcp.json
  DOCUMENTATION_INDEX.md
  app/api/v1/chatbot.py
  app/core/langgraph/graph.py
  app/core/langgraph/nodes/step_100__post_proactivity.py
  app/core/prompts/suggested_actions.md
  app/orchestrators/facts.py
  app/orchestrators/prompting.py
  app/prompts/v1/unified_response_simple.md
  app/schemas/chat.py
  app/services/action_validator.py
  app/services/parallel_retrieval.py
  docs/DEV-244-kb-source-urls-summary.md
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  scripts/fix_gazzetta_urls.py
  scripts/fix_legge_199_code.py
  scripts/revert_gazzetta_urls.py
  tests/orchestrators/test_facts.py
  tests/unit/core/langgraph/nodes/test_step_100_validation.py
  tests/unit/services/test_action_validator.py
Due: generate-docs-index

fix(DEV-244): Ensure official sources (ADeR, Gazzetta) always appear in KB sources
  DOCUMENTATION_INDEX.md
  app/core/langgraph/graph.py
  app/services/parallel_retrieval.py
  app/services/search_service.py
  docs/DEV-244-kb-source-urls-summary.md
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  tests/services/test_parallel_retrieval.py
Due: generate-docs-index

fix(DEV-244): Skip topic filtering for template actions in step_100
  app/core/langgraph/nodes/step_100__post_proactivity.py
  tests/langgraph/agentic_rag/test_step_100_post_proactivity.py
Due: none

feat(DEV-245): Response quality improvements - Phase 1 quick wins
  app/core/langgraph/graph.py
  app/core/langgraph/nodes/step_039a__multi_query.py
  app/prompts/v1/unified_response_simple.md
  app/services/parallel_retrieval.py
  docs/DEV-245-response-quality-improvement-plan.md
Due: generate-docs-index

fix(DEV-245): Remove suggested actions tests from backend
  tests/api/test_chatbot_llm_first.py
  tests/api/test_chatbot_proactivity.py
  tests/api/test_chatbot_stream_llm_first.py
  tests/api/test_chatbot_streaming_proactivity.py
Due: none

fix(DEV-245): Remove more suggested actions tests from backend
  tests/e2e/test_agentic_rag_quality.py
  tests/e2e/test_proactivity_quality.py
  tests/integration/test_agentic_rag_pipeline.py
  tests/integration/test_proactivity_llm_first.py
  tests/phase7/test_phase7_consolidation.py
  tests/schemas/test_chat.py
Due: none

fix(DEV-245): Fix failing unit tests for KB empty and paragraph grounding
  tests/unit/core/langgraph/nodes/test_step64_tot_integration.py
  tests/unit/core/langgraph/nodes/test_step_040_paragraph_grounding.py
  tests/unit/core/langgraph/nodes/test_step_064_kb_empty.py
Due: none

fix(DEV-245): Fix additional failing tests for prompt and deleted modules
  tests/unit/prompts/test_unified_response_simple.py
  tests/unit/services/test_golden_loop_controller.py
Due: none

fix(DEV-245): Remove test files for deleted modules
  tests/unit/core/langgraph/nodes/test_step_064_unified_output.py
  tests/unit/core/langgraph/nodes/test_step_100_validation.py
Due: none

feat(DEV-247): Add filtered content stats to daily ingestion report
  alembic/versions/20260124_add_filtered_items_to_feed_status.py
  app/ingest/rss_normativa.py
  app/models/regulatory_documents.py
  app/services/ingestion_report_service.py
  app/services/scheduler_service.py
  scripts/analyze_gazzetta_data.py
  scripts/cleanup_irrelevant_gazzetta.py
  scripts/ingest_rss.py
  tests/ingest/__init__.py
  tests/ingest/test_rss_normativa_filtering.py
  tests/services/test_ingestion_report_service.py
Due: check-alembic-migrations, rss-scheduler-tests

feat(DEV-246): Daily cost spending report by environment and user
  alembic/versions/20260124_add_environment_to_usage_events.py
  app/api/v1/analytics.py
  app/core/langgraph/nodes/step_100__post_proactivity.py
  app/models/usage.py
  app/services/daily_cost_report_service.py
  app/services/scheduler_service.py
  app/services/usage_tracker.py
  app/services/web_verification.py
  tests/services/test_daily_cost_report_service.py
Due: check-alembic-migrations, rss-scheduler-tests

feat(DEV-249): Integrate HallucinationGuard into LangGraph pipeline
  app/core/langgraph/nodes/step_064__llm_call.py
  app/core/langgraph/types.py
  tests/unit/core/langgraph/nodes/test_step_064_hallucination_guard.py
Due: none

feat(DEV-243): Enhance Langfuse integration for LangGraph pipeline debugging
  DOCUMENTATION_INDEX.md
  app/core/config.py
  app/core/langgraph/graph.py
  app/observability/__init__.py
  app/observability/langfuse_config.py
  app/observability/langfuse_spans.py
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/decisions/ADR-020-suggested-actions-architecture.md
  docs/architecture/steps/INDEX.md
  docs/guides/LANGFUSE_DEBUGGING_GUIDE.md
  docs/tasks/PRATIKO_2.0.md
  tests/unit/observability/__init__.py
  tests/unit/observability/test_langfuse_config.py
  tests/unit/observability/test_langfuse_spans.py
Due: generate-docs-index

fix(DEV-243): Complete Langfuse v3 SDK migration for tracing
  app/core/langgraph/graph.py
  app/observability/__init__.py
  app/observability/langfuse_config.py
  app/services/llm_orchestrator.py
  docker-compose.yml
Due: none

fix(DEV-246): Fix daily cost report email delivery
  app/core/config.py
  app/services/daily_cost_report_service.py
Due: none

fix(DEV-246): Update test to use SMTP instead of SMTP_SSL
  tests/services/test_daily_cost_report_service.py
Due: none

fix(DEV-243): Update Langfuse tests for SDK v3 API
  tests/unit/observability/test_langfuse_config.py
Due: none

refactor(DEV-248): Split WebVerificationService into focused submodules
  app/services/web_verification.py
  app/services/web_verification/__init__.py
  app/services/web_verification/brave_search.py
  app/services/web_verification/constants.py
  app/services/web_verification/contradiction_detector.py
  app/services/web_verification/exclusion_detector.py
  app/services/web_verification/keyword_extractor.py
  app/services/web_verification/result_formatter.py
  app/services/web_verification/service.py
  app/services/web_verification/synthesis.py
  app/services/web_verification/types.py
Due: none

fix(DEV-246): Fix datetime timezone mismatch in daily cost report
  app/services/daily_cost_report_service.py
Due: none

fix(DEV-250): Update tests for refactored LangGraph services
  tests/unit/core/langgraph/nodes/test_step64_tot_integration.py
  tests/unit/core/langgraph/nodes/test_step_064_kb_empty.py
  tests/unit/prompts/test_unified_response_simple.py
Due: none
