Repository mickgian/PratikoAi-BE: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-alembic-migrations, check-critical-dependencies, streaming-tests, rss-scheduler-tests, generate-docs-index, update-roadmap-timeline

check-alembic-migrations:
  name: Check Alembic migrations are up-to-date
  entry: bash -c 'alembic check || (echo WARNING - Database migrations pending && exit 1)'
  language: system
  pass_filenames: false
  always_run: false

check-critical-dependencies:
  name: Check critical dependencies in pyproject.toml
  entry: python scripts/check_critical_deps.py
  language: system
  pass_filenames: false
  always_run: false

streaming-tests:
  name: Run streaming protection tests
  entry: bash -c 'source scripts/set_env.sh development && python -m pytest tests/core/test_sse_formatter.py tests/api/test_sse_comment_detection.py tests/api/test_sse_keepalive_timing.py tests/unit/core/test_sse_write_helper.py -v --tb=line -x'
  language: system
  ...

rss-scheduler-tests:
  name: Run RSS scheduler tests
  entry: bash -c 'source scripts/set_env.sh development && python -m pytest tests/test_scheduler_italian_integration.py -v --tb=line -x'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

generate-docs-index:
  name: Generate documentation indexes
  entry: python scripts/generate_docs_index.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

update-roadmap-timeline:
  name: Update roadmap deployment timeline estimates
  entry: python scripts/update_roadmap_timeline.py --notify
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(Phase-9): Add DEV-242 Frontend Reasoning Trace UI Component
  docs/tasks/PRATIKO_1.5.md
Due: generate-docs-index

docs: Add comprehensive CLAUDE.md guidelines for Claude Code
  .gitignore
  CLAUDE.md
  DOCUMENTATION_INDEX.md
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
Due: generate-docs-index

docs: Reorganize PRATIKO_1.5.md task structure
  DOCUMENTATION_INDEX.md
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  docs/tasks/PRATIKO_1.5.md
Due: generate-docs-index

docs: Add specialized CLAUDE.md files for subsystems
  deployment-orchestration/CLAUDE.md
  feature-flags/CLAUDE.md
  mcp-servers/CLAUDE.md
  rollback-system/CLAUDE.md
Due: generate-docs-index

ci: Add Claude Code GitHub Actions automation
  .github/workflows/claude-changelog.yml
  .github/workflows/claude-docs-sync.yml
  .github/workflows/claude-issue-triage.yml
  .github/workflows/claude-pr-review.yml
  .github/workflows/claude-security-scan.yml
Due: none

feat(Phase-9): Add missing tasks DEV-219, DEV-225, DEV-226, DEV-232
  docs/tasks/PRATIKO_1.5.md
Due: generate-docs-index

fix(ci): Add id-token:write permission for Claude Code Action
  .github/workflows/claude-changelog.yml
  .github/workflows/claude-docs-sync.yml
  .github/workflows/claude-issue-triage.yml
  .github/workflows/claude-pr-review.yml
  .github/workflows/claude-security-scan.yml
Due: none

feat(Phase-9): Add LLM Excellence fields to RAGState (DEV-210)
  app/core/langgraph/types.py
  tests/unit/core/langgraph/test_types_phase9.py
Due: none

fix(types): Resolve all mypy type errors
  app/models/ccnl_data.py
  app/models/data_export.py
  app/models/document_simple.py
  app/models/faq_automation.py
  app/models/quality_analysis.py
  app/models/subscription.py
  app/utils/sanitization.py
  pyproject.toml
Due: check-alembic-migrations, check-critical-dependencies

feat(Phase-9): Add PromptLoader utility service (DEV-211)
  .github/workflows/version-management.yml
  DOCUMENTATION_INDEX.md
  app/prompts/__init__.py
  app/prompts/components/__init__.py
  app/prompts/config.yaml
  app/prompts/v1/__init__.py
  app/services/prompt_loader.py
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  docs/tasks/PRATIKO_1.5.md
  tests/unit/services/__init__.py
  tests/unit/services/test_prompt_loader.py
Due: generate-docs-index

fix(ci): Fix YAML syntax errors in workflow files
  .github/workflows/coordination-system.yml
  .github/workflows/deploy.yaml
  .github/workflows/feature-flag-testing.yml
Due: none

feat(Phase-9): Add unified_response_simple.md prompt template (DEV-212)
  app/prompts/v1/unified_response_simple.md
  docs/tasks/PRATIKO_1.5.md
  tests/unit/prompts/__init__.py
  tests/unit/prompts/test_unified_response_simple.py
Due: generate-docs-index

feat(Phase-9): Update Step 40 to preserve KB documents and metadata (DEV-213)
  app/core/langgraph/nodes/step_040__build_context.py
  docs/tasks/PRATIKO_1.5.md
  tests/unit/core/langgraph/nodes/test_step_040_kb_preservation.py
Due: generate-docs-index

feat(DEV-214): Update Step 64 for unified JSON output with reasoning
  DOCUMENTATION_INDEX.md
  app/core/langgraph/nodes/step_064__llm_call.py
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  docs/tasks/PRATIKO_1.5.md
  tests/unit/core/langgraph/nodes/test_step_064_unified_output.py
Due: generate-docs-index

feat(DEV-215): Create ActionValidator service
  app/services/action_validator.py
  docs/tasks/PRATIKO_1.5.md
  tests/unit/services/test_action_validator.py
Due: generate-docs-index

docs: Mark DEV-214 and DEV-215 as ✅ COMPLETED (2025-01-03)
  docs/tasks/PRATIKO_1.5.md
Due: generate-docs-index

feat(DEV-216): Create action_regeneration.md prompt template
  app/prompts/v1/action_regeneration.md
  docs/tasks/PRATIKO_1.5.md
  tests/unit/prompts/test_action_regeneration.py
Due: generate-docs-index

feat(DEV-217): Implement ActionRegenerator service (Golden Loop)
  app/services/action_regenerator.py
  docs/tasks/PRATIKO_1.5.md
  tests/unit/services/test_action_regenerator.py
Due: generate-docs-index

feat(DEV-218): Integrate ActionValidator + Golden Loop in Step 100
  app/core/langgraph/nodes/step_100__post_proactivity.py
  app/services/action_validator.py
  tests/langgraph/agentic_rag/test_step_100_post_proactivity.py
  tests/unit/core/langgraph/nodes/test_step_100_validation.py
Due: none

docs: Mark DEV-218 as COMPLETED ✅
  docs/tasks/PRATIKO_1.5.md
Due: generate-docs-index

feat(DEV-219): Implement GoldenLoopController with iteration control and metrics
  app/services/golden_loop_controller.py
  tests/unit/services/test_golden_loop_controller.py
Due: none

docs: Mark DEV-219 as COMPLETED
  DOCUMENTATION_INDEX.md
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  docs/tasks/PRATIKO_1.5.md
Due: generate-docs-index

feat(DEV-220): Create complexity_classifier.md prompt template
  DOCUMENTATION_INDEX.md
  app/prompts/v1/complexity_classifier.md
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  tests/unit/prompts/test_complexity_classifier.py
Due: generate-docs-index

docs: Mark DEV-220 as COMPLETED
  docs/tasks/PRATIKO_1.5.md
Due: generate-docs-index

feat(DEV-221): Implement LLMOrchestrator Service for Multi-Model Routing
  DOCUMENTATION_INDEX.md
  app/services/llm_orchestrator.py
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  docs/tasks/PRATIKO_1.5.md
  tests/unit/services/test_llm_orchestrator.py
Due: generate-docs-index

feat(DEV-222): Integrate LLMOrchestrator with Step 64
  app/core/langgraph/nodes/step_064__llm_call.py
  docs/tasks/PRATIKO_1.5.md
  tests/unit/core/langgraph/nodes/test_step_064_orchestrator_integration.py
Due: generate-docs-index

feat(DEV-223): Create tree_of_thoughts.md Prompt Template
  app/prompts/v1/tree_of_thoughts.md
  docs/tasks/PRATIKO_1.5.md
  tests/unit/prompts/test_tree_of_thoughts.py
Due: generate-docs-index

feat(DEV-224): Create tree_of_thoughts_multi_domain.md prompt template
  app/prompts/v1/tree_of_thoughts_multi_domain.md
  docs/tasks/PRATIKO_1.5.md
  tests/unit/prompts/test_tree_of_thoughts_multi_domain.py
Due: generate-docs-index

feat(DEV-225): Implement TreeOfThoughtsReasoner Service
  app/services/tree_of_thoughts_reasoner.py
  docs/tasks/PRATIKO_1.5.md
  tests/unit/services/test_tree_of_thoughts_reasoner.py
Due: generate-docs-index

feat(DEV-226): Integrate TreeOfThoughtsReasoner with Step 64
  DOCUMENTATION_INDEX.md
  app/core/langgraph/nodes/step_064__llm_call.py
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  docs/tasks/PRATIKO_1.5.md
  tests/unit/core/langgraph/nodes/test_step64_tot_integration.py
Due: generate-docs-index

feat(DEV-227): Create Source Hierarchy Mapping and Weighting
  DOCUMENTATION_INDEX.md
  app/services/source_hierarchy.py
  app/services/tree_of_thoughts_reasoner.py
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  docs/tasks/PRATIKO_1.5.md
  tests/unit/services/test_source_hierarchy.py
Due: generate-docs-index

feat(DEV-228): Implement SourceConflictDetector Service
  DOCUMENTATION_INDEX.md
  app/services/source_conflict_detector.py
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  docs/tasks/PRATIKO_1.5.md
  tests/unit/services/test_source_conflict_detector.py
Due: generate-docs-index

feat(DEV-229): Implement DualReasoning Data Structures
  app/schemas/reasoning.py
  docs/tasks/PRATIKO_1.5.md
  tests/unit/schemas/test_reasoning.py
Due: generate-docs-index

feat(DEV-230): Implement ReasoningTransformer Service
  app/services/reasoning_transformer.py
  docs/tasks/PRATIKO_1.5.md
  tests/unit/services/test_reasoning_transformer.py
Due: generate-docs-index

feat(DEV-231): Add Risk Analysis Phase to Tree of Thoughts
  app/services/risk_analyzer.py
  docs/tasks/PRATIKO_1.5.md
  tests/unit/services/test_risk_analyzer.py
Due: generate-docs-index

feat(DEV-232): Implement Response Quality Scoring Service
  DOCUMENTATION_INDEX.md
  app/services/response_quality_scorer.py
  docs/INDEX.md
  docs/architecture/INDEX.md
  docs/architecture/steps/INDEX.md
  docs/tasks/PRATIKO_1.5.md
  tests/unit/services/test_response_quality_scorer.py
Due: generate-docs-index

feat(DEV-233): Create hyde_conversational.md Prompt Template
  app/prompts/v1/hyde_conversational.md
  docs/tasks/PRATIKO_1.5.md
  tests/unit/prompts/test_hyde_conversational.py
Due: generate-docs-index

feat(DEV-234): Implement QueryAmbiguityDetector Service
  app/services/query_ambiguity_detector.py
  docs/tasks/PRATIKO_1.5.md
  tests/unit/services/test_query_ambiguity_detector.py
Due: generate-docs-index

feat(DEV-235): Update HyDE Generator for Conversation Awareness
  app/services/hyde_generator.py
  docs/tasks/PRATIKO_1.5.md
  tests/unit/services/test_hyde_conversation_awareness.py
Due: generate-docs-index

fix(tests): Fix HyDE test mocks for ambiguity detector integration
  tests/services/test_hyde_generator.py
  tests/unit/services/test_hyde_conversation_awareness.py
Due: none

Path conditions:
  check-alembic-migrations: any of: ^(alembic/versions/.*\.py|app/models/.*\.py)$
  check-critical-dependencies: any of: ^pyproject.toml$
  streaming-tests: any of: app/(core|api)/.*sse.*\.py|tests/.*sse.*\.py
  rss-scheduler-tests: any of: app/.*(scheduler|rss).*\.py|tests/.*scheduler.*\.py
  generate-docs-index: any of: \.md$
  update-roadmap-timeline: any of: ^ARCHITECTURE_ROADMAP\.md$
